@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 100%;
}

a {
  text-decoration: none;
}

header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
}
header .logo-wrapper {
  width: 100%;
}
header 　
.logo img {
  padding-top: 0;
  width: 50px;
}
header #nav-drawer {
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  display: block;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}
header #nav-drawer h1 {
  box-sizing: border-box;
  padding-top: 12px;
  text-align: center;
  width: auto;
}
header #nav-drawer h1 img {
  width: 50px;
}
header #nav-drawer h1 img:hover {
  opacity: 0.3;
  transition-duration: 0.2s;
}
header .nav-unshown {
  display: none;
}
header #nav-open {
  display: inline-block;
  height: 20px;
  margin: 25px 0 0 25px;
  position: fixed;
  top: 0;
  vertical-align: middle;
  width: 30px;
}
header #nav-open span,
header #nav-open span:before,
header #nav-open span:after {
  background: #555;
  border-radius: 3px;
  content: '';
  cursor: pointer;
  display: block;
  height: 3px;
  position: absolute;
  width: 25px;
}
header #nav-open span:before {
  bottom: -8px;
}
header #nav-open span:after {
  bottom: -16px;
}
header #nav-close {
  background: black;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: .3s ease-in-out;
  width: 100%;
  z-index: 99;
}
header #nav-content {
  background: #fff;
  height: 100%;
  left: 0;
  max-width: 330px;
  overflow: auto;
  position: fixed;
  top: 0;
  transform: translateX(-105%);
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  width: 90%;
  z-index: 9999;
}
header #nav-content ul {
  display: block;
  text-align: center;
}
header #nav-content ul li {
  display: block;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 25px;
  margin: 30px 0;
}
header #nav-content ul li a:visited, header #nav-content ul li a:link {
  color: #1c1f2b;
}
header #nav-content ul li a:hover {
  opacity: 0.3;
  transition-duration: 0.2s;
}
header #nav-input:checked ~ #nav-close {
  display: block;
  /*カバーを表示*/
  opacity: .5;
}
header #nav-input:checked ~ #nav-content {
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  /*中身を表示*/
}

main {
  width: 100%;
  /* -- SVG CSS -- */
  /* -- Row BG Color -- */
}
main .main-top {
  background-color: #eff0ea;
  position: relative;
}
main .main-top .main-inner-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 4%;
  text-align: center;
}
main .main-top .main-inner-wrapper .door-wrapper {
  position: relative;
}
main .main-top .main-inner-wrapper .door-wrapper .door {
  padding-right: 50%;
  padding-top: 120px;
  text-align: left;
  vertical-align: bottom;
  width: 100%;
}
main .main-top .main-inner-wrapper .door-wrapper .main-title {
  position: absolute;
  right: 0%;
  top: 40%;
}
main .main-top .main-inner-wrapper .door-wrapper .main-title .main-title-inner-wrapper {
  width: 350px;
}
main .main-top .main-inner-wrapper .door-wrapper .main-title .main-title-inner-wrapper svg path {
  animation: 1.2s ease-in forwards 0.5s textAnimation;
  fill: #3c6a70;
  fill-opacity: 0;
  stroke: #3c6a70;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 5px;
}
@keyframes textAnimation {
  0% {
    stroke-dashoffset: 1000;
  }
  80% {
    fill-opacity: 0;
    stroke-dashoffset: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}
main .main-top .main-inner-wrapper .door-wrapper .scroll {
  display: inline-block;
  position: absolute;
  right: 1%;
  top: 85%;
}
main .main-top .main-inner-wrapper .door-wrapper .scroll p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
  color: #c39244;
  font-weight: bold;
}
main hr {
  border-color: #c39244;
  border-style: solid;
  border-width: 15px 0 0 0;
}
main .title {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.5rem;
  padding: 150px 0 1% 0;
  text-align: center;
}
main #about {
  background-color: #1c1f2b;
  color: #eff0ea;
  padding-bottom: 150px;
  text-align: center;
}
main #about .box {
  background: #ba4d4f;
  height: 5px;
  margin: 0 auto;
  width: 60px;
}
main #about .fadeIn {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1.5s;
}
main #about .fadeIn.animated {
  opacity: 1;
  transform: translate(0);
}
main #about .about-item {
  display: inline-block;
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 4%;
  padding-right: 4%;
  text-align: left;
}
main #about .about-item .self-introduction {
  margin-bottom: 20px;
}
main #about .about-item .self-introduction h3 {
  margin-bottom: 10px;
  margin-top: 7%;
}
main #about .about-item .self-introduction p {
  line-height: 2.5;
}
main #about .about-item .self-introduction a:hover {
  opacity: 0.7;
  transition-duration: 0.3s;
}
main #about .about-item .self-introduction .sns {
  color: #c39244;
  margin-top: 10px;
}
main #about .about-item .skills {
  /* 星5 */
  /* 星4.5 */
  /* 星4 */
  /* 星3.5 */
  /* 星3 */
  /* 星2.5 */
  /* 星2 */
  /* 星1.5 */
  /* 星1 */
  /* 星0.5 */
  /* 星0 */
}
main #about .about-item .skills h4 {
  margin-bottom: 20px;
}
main #about .about-item .skills table th {
  font-weight: normal;
  padding-right: 50px;
}
main #about .about-item .skills .star5_rating {
  color: #CCCCCC;
  /* グレーカラー 自由に設定化 */
  display: inline-block;
  position: relative;
  white-space: nowrap;
  z-index: 0;
}
main #about .about-item .skills .star5_rating:before, main #about .about-item .skills .star5_rating:after {
  content: '★★★★★';
}
main #about .about-item .skills .star5_rating:after {
  color: #c39244;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  white-space: nowrap;
  z-index: 1;
}
main #about .about-item .skills .star5_rating[data-rate="5"]:after {
  width: 100%;
}
main #about .about-item .skills .star5_rating[data-rate="4.5"]:after {
  width: 90%;
}
main #about .about-item .skills .star5_rating[data-rate="4"]:after {
  width: 80%;
}
main #about .about-item .skills .star5_rating[data-rate="3.5"]:after {
  width: 70%;
}
main #about .about-item .skills .star5_rating[data-rate="3"]:after {
  width: 60%;
}
main #about .about-item .skills .star5_rating[data-rate="2.5"]:after {
  width: 50%;
}
main #about .about-item .skills .star5_rating[data-rate="2"]:after {
  width: 40%;
}
main #about .about-item .skills .star5_rating[data-rate="1.5"]:after {
  width: 30%;
}
main #about .about-item .skills .star5_rating[data-rate="1"]:after {
  width: 20%;
}
main #about .about-item .skills .star5_rating[data-rate="0.5"]:after {
  width: 10%;
}
main #about .about-item .skills .star5_rating[data-rate="0"]:after {
  width: 0%;
}
main #designs {
  background-color: #ba4d4f;
  color: #eff0ea;
  margin: 0 auto;
  padding-bottom: 200px;
}
main #designs .box {
  background: #1c1f2b;
  height: 5px;
  margin: 0 auto;
  width: 60px;
}
main #designs .fadeIn {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1.5s;
}
main #designs .fadeIn.animated {
  opacity: 1;
  transform: translate(0);
}
main #designs .designs-item {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 1000px;
  padding: 0 4%;
}
main #designs .designs-item p {
  background-color: #c39244;
  border-radius: 30px 30px 0 0;
  color: #eff0ea;
  font-weight: bold;
  padding: 15px 0 15px 30px;
}
main #designs .designs-item .designs-item-inner-wrapper {
  align-items: center;
  background-color: #1c1f2b;
  border-radius: 0 0 30px 30px;
  color: #eff0ea;
  display: flex;
  justify-content: space-between;
  padding: 4%;
  padding-top: 20px;
}
main #designs .designs-item .designs-item-inner-wrapper .designs-picture {
  background: #1c1f2b;
  overflow: hidden;
  width: 40%;
}
main #designs .designs-item .designs-item-inner-wrapper .designs-picture img {
  max-width: 100%;
}
main #designs .designs-item .designs-item-inner-wrapper .designs-picture img:hover {
  opacity: 0.7;
  transition-duration: 0.3s;
}
main #designs .designs-item .designs-item-inner-wrapper .designs-point {
  padding: 0 30px;
  width: 60%;
}
main #designs .designs-item .designs-item-inner-wrapper .designs-point h4 {
  border-bottom: 2px solid #c39244;
  margin-bottom: 10px;
  padding-bottom: 1px;
}
main #designs .designs-item .designs-item-inner-wrapper .designs-point ul {
  list-style: none;
}
main #designs .designs-item .designs-item-inner-wrapper .designs-point ul li {
  line-height: 1.7;
  margin-bottom: 20px;
  padding-left: 2em;
  text-indent: -2.2em;
}
main #designs .designs-item .designs-item-inner-wrapper .designs-point ul li:before {
  background-image: url(img/wheel.png);
  background-size: contain;
  content: '';
  /*何も入れない*/
  display: inline-block;
  /*忘れずに！*/
  height: 27px;
  /*画像の高さ*/
  margin-right: 0.5em;
  vertical-align: middle;
  width: 27px;
  /*画像の幅*/
}
main #contact {
  background-color: #3c6a70;
  color: #eff0ea;
  padding-bottom: 150px;
}
main #contact .title {
  padding-top: 0;
}
main #contact .box {
  background: #c39244;
  height: 5px;
  margin: 0 auto;
  width: 60px;
}
main #contact .mail {
  margin-top: 7%;
  text-align: center;
}
main .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 150px 0 0 0;
  position: relative;
  width: 100%;
}
main .svg-separator {
  background: 0 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
  z-index: 9;
}
main .svg-separator.bottom {
  bottom: 0;
  top: auto;
}
main .sep10 {
  transform: translateY(-100%) translateY(2px) scale(1, 1);
  transform-origin: top;
}
main .ocean {
  background-color: #3c6a70;
}

@media screen and (min-width: 1500px) {
  header nav {
    width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  main {
    font-size: 14px;
    width: 100%;
  }
  main .mobile-title {
    font-size: 30px;
  }
  main .main-top .main-inner-wrapper .door-wrapper {
    display: flex;
    flex-direction: column;
  }
  main .main-top .main-inner-wrapper .door-wrapper .door {
    order: 2;
    padding-right: 0;
    padding-top: 3%;
  }
  main .main-top .main-inner-wrapper .door-wrapper .main-title {
    left: 0;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 120px;
    order: 1;
    padding: 0;
    position: static;
    right: 0;
    top: 25%;
  }
  main .main-top .main-inner-wrapper .door-wrapper .main-title .main-title-inner-wrapper {
    margin: 0 auto;
    padding: 0 4%;
    width: 300px;
  }
  main .main-top .main-inner-wrapper .door-wrapper .scroll {
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
  }
  main .title {
    padding-top: 100px;
  }
  main #about {
    padding-bottom: 100px;
  }
  main #designs {
    padding-bottom: 120px;
  }
  main #designs .designs-item {
    padding: 0 4%;
  }
  main #designs .designs-item .designs-item-inner-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
  }
  main #designs .designs-item .designs-item-inner-wrapper .designs-picture {
    width: 100%;
    margin: 20px 0;
  }
  main #designs .designs-item .designs-item-inner-wrapper .designs-point {
    margin-top: 30px;
    width: 100%;
  }
  main #designs .designs-item .designs-item-inner-wrapper .designs-point h4 {
    margin-bottom: 25px;
  }
  main #designs .designs-item .designs-item-inner-wrapper .designs-point ul li {
    text-align: left;
    line-height: 1.5;
  }
  main #designs .designs-item .designs-item-inner-wrapper .designs-point ul li:before {
    margin-right: 0.3em;
  }
  main #contact {
    padding-bottom: 100px;
  }
}
/* footer==================================
=========================================*/
footer {
  background-color: #1c1f2b;
  color: #eff0ea;
  font-size: 12px;
  padding: 30px 0 15px 0;
  text-align: center;
}
footer hr {
  border-color: #c39244;
  border-style: solid;
  border-width: 4px 0 0 0;
}
footer p {
  margin-bottom: 30px;
  padding: 25px 0 0 0;
}

/*# sourceMappingURL=style.css.map */
