@charset "utf-8";
html {
  box-sizing: border-box;
  font-size: 100%;
}
a {
  text-decoration: none;
}

$white: #eff0ea;
$yellow: #c39244; //rgba(195, 146, 68, 0)
$navy: #1c1f2b;
$red: #ba4d4f;
$blue: #3c6a70; //rgba(60, 106, 112, 0)

header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
  .logo-wrapper {
    width: 100%;
  }　//.logo-wrapper
  .logo img {
    padding-top: 0;
    width: 50px;
  } //.logo img
  #nav-drawer {
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    display: block;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    h1 {
      box-sizing: border-box;
      padding-top: 12px;
      text-align: center;
      width: auto;
      img {
        width: 50px;
        &:hover {
          opacity: 0.3;
          transition-duration: 0.2s;
        } //&:hover
      } //img
    } //h1
  } //#nav-drawer
  .nav-unshown {
    display:none;   //チェックボックス等非表示
  } //.nav-unshown
  #nav-open {
    display: inline-block;
    height: 20px;
    margin: 25px 0 0 25px;
    position: fixed;
    top: 0;
    vertical-align: middle;
    width: 30px;
  } //#nav-open
  #nav-open span,
  #nav-open span:before,
  #nav-open span:after {
    background: #555;
    border-radius: 3px;
    content: '';
    cursor: pointer;
    display: block;
    height: 3px; //線の太さ
    position: absolute;
    width: 25px; //長さ
  } //#nav-open span, #nav-open span:before, #nav-open span:after
  #nav-open span {
    &:before {
      bottom: -8px;
    } //&:before
    &:after {
      bottom: -16px;
    } //&:after
  } //#nav-open span
  #nav-close {
    background: black;
    display: none; //はじめは隠しておく
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0; //全体に広がるように
    transition: .3s ease-in-out;
    width: 100%;
    z-index: 99;
  }
  #nav-content { //中身
    background: #fff;
    height: 100%;
    left: 0;
    max-width: 330px;
    overflow: auto;
    position: fixed;
    top: 0;
    transform: translateX(-105%); //左に隠しておく
    transition: .3s ease-in-out; //滑らかに表示
    -webkit-transform: translateX(-105%);
    width: 90%; //右側に隙間を作る
    z-index: 9999; //最前面に
    ul {
      display: block;
      text-align: center;
      li {
        display: block;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 25px;
        margin: 30px 0;
        a:visited, a:link {
          color: $navy;
        } //a:visited,a:link
        a:hover {
          opacity: 0.3;
          transition-duration: 0.2s;
        } //a:hover
      } //li
    } //ul
  } //#nav-content
  #nav-input:checked ~ #nav-close { //チェックが入ったらもろもろ表示
    display: block;/*カバーを表示*/
    opacity: .5;
  } //#nav-input:checked ~ #nav-close
  #nav-input:checked ~ #nav-content {
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示*/
  } //#nav-input:checked ~ #nav-content
} //header

main {
  width: 100%;
  .main-top {
    background-color: $white;
    position: relative;
  .main-inner-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 4%;
    text-align: center;
    .door-wrapper {
      position: relative;
      .door {
        padding-right: 50%;
        padding-top: 120px;
        text-align: left;
        vertical-align: bottom;
        width: 100%;
      } //.door
      .main-title {
        position:absolute;
        right: 0%;
        top: 40%;
        .main-title-inner-wrapper {
          width: 350px;
          svg {
            path {
              animation: 1.2s ease-in forwards 0.5s textAnimation;
              fill: $blue;
              fill-opacity: 0;
              stroke: $blue;
              stroke-dasharray: 1000;
              stroke-dashoffset: 1000;
              stroke-width: 5px;
            } //path
          } //svg
        } //.main-title-inner-wrapper
      } //.main-title
      @keyframes textAnimation {
        0% {
          stroke-dashoffset: 1000;
        } //0%
        80% {
          fill-opacity: 0;
          stroke-dashoffset: 0;
        } //80%
        100% {
          fill-opacity: 1;
          stroke-dashoffset: 0;
        } //100%
      } //@keyframes textAnimation
      .scroll {
        display: inline-block;
        position: absolute;
        right: 1%;
        top: 85%;
        p {
          font-family: 'Barlow Condensed', sans-serif;
          font-size: 20px;
          margin-bottom: 15px;
          text-align: center;
          color: $yellow;
          font-weight: bold;
        } //p
      } //.scroll
    } //.door-wrapper
  } //.main-inner-wrapper
  } //.main-top
  hr {
    border-color: $yellow;
    border-style: solid;
    border-width: 15px 0 0 0;
  } //hr
  .title {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2.5rem;
    padding: 150px 0 1% 0;
    text-align: center;
  } //.title
  #about {
    background-color: $navy;
    color: $white;
    padding-bottom: 150px;
    text-align: center;
    .box {
      background: $red;
      height: 5px;
      margin: 0 auto;
      width: 60px;
    } //.box
    .fadeIn {
      opacity: 0;
      transform: translateX(-50px);
      transition: all 1.5s;
    } //.fadeIn
    .fadeIn.animated {
      opacity: 1;
      transform: translate(0);
    } //.fadeIn.animated
    .about-item {
      display: inline-block;
      margin: 0 auto;
      max-width: 1000px;
      padding-left: 4%;
      padding-right: 4%;
      text-align: left;
      .self-introduction {
        margin-bottom: 20px;
        h3 {
          margin-bottom: 10px;
          margin-top: 7%;
        } //h3
        p {
          line-height: 2.5
        } //p
      } //.self-introduction
      .skills {
        h4 {
          margin-bottom: 20px;
        } //h4
        table {
          th {
            font-weight: normal;
            padding-right: 50px;
          } //th
        } //table
        .star5_rating{
          color: #CCCCCC; /* グレーカラー 自由に設定化 */
          display: inline-block;
          position: relative;
          white-space: nowrap;
          z-index: 0;
        } //.star5_rating
        .star5_rating:before, .star5_rating:after {
          content: '★★★★★';
        } //.star5_rating:before, .star5_rating:after
        .star5_rating:after {
          color: $yellow;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          white-space: nowrap;
          z-index: 1;
        } //.star5_rating:afte
        .star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
        .star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
        .star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
        .star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
        .star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
        .star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
        .star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
        .star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
        .star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
        .star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
        .star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */
      } //.skills
    } //.about-item
  } //#about

  #designs {
    background-color: $red;
    color: $white;
    margin: 0 auto;
    padding-bottom: 200px;
    .box {
      background: $navy;
      height: 5px;
      margin: 0 auto;
      width: 60px;
    } //.box
    .fadeIn {
      opacity: 0;
      transform: translateX(-50px);
      transition: all 1.5s;
    } //.fadeIn
    .fadeIn.animated {
      opacity: 1;
      transform: translate(0);
    } //.fadeIn.animated
    .designs-item {
      margin: 0 auto;
      margin-top: 60px;
      max-width: 1000px;
      padding: 0 4%;
      p {
        background-color: $yellow;
        border-radius: 30px 30px 0 0;
        color: $white;
        font-weight: bold;
        padding: 15px 0 15px 30px;
      } //p
      .designs-item-inner-wrapper {
        align-items: center;
        background-color: $navy;
        border-radius: 0 0 30px 30px;
        color: $white;
        display: flex;
        justify-content: space-between;
        padding: 4%;
        padding-top: 20px;
        .designs-picture {
          background: $navy;
          overflow: hidden;
          width: 40%;
          img {
            max-width: 100%;
            &:hover {
              transition-duration: 0.3s;
              opacity: 0.7;
            } //&:hover
          } //img
        } //.designs-picture
        .designs-point {
          padding: 0 30px;
          width: 60%;
          h4 {
            border-bottom: 2px solid $yellow;
            margin-bottom: 10px;
            padding-bottom: 1px;
          } //h4
          ul {
            list-style: none;
            li {
              line-height: 1.7;
              margin-bottom: 20px;
              padding-left:2em;
              text-indent:-2.2em;
              &:before {
                background-image: url(img/wheel.png);
                background-size: contain;
                content: '';/*何も入れない*/
                display: inline-block;/*忘れずに！*/
                height: 27px;/*画像の高さ*/
                margin-right: 0.5em;
                vertical-align: middle;
                width: 27px;/*画像の幅*/
              } //&:before
            } //li
          } //ul
        } //.designs-point
      } //.designs-item-inner-wrapper
    } //.designs-item
  } //#designs

  #contact {
    background-color: $blue;
    color: $white;
    padding-bottom: 150px;
    .title {
      padding-top: 0;
    } //.title
    .box {
      background: $yellow;
      height: 5px;
      margin: 0 auto;
      width: 60px;
    } //.box
    .mail {
      margin-top: 7%;
      text-align: center;
    } //.mail
  } //#contact
  .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    padding:150px 0 0 0;
    position:relative;
    width:100%;
  }

/* -- SVG CSS -- */
  .svg-separator {
    background: 0 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-100%) translateY(2px);
    transform: translateY(-100%) translateY(2px);
    width: 100%;
    z-index: 9;
  } //.svg-separator
  .svg-separator.bottom {
    bottom: 0;
    top: auto;
  } //.svg-separator.bottom
  .sep10 {
    transform: translateY(-100%) translateY(2px) scale(1,1);
    transform-origin: top;
  } //..sep10

/* -- Row BG Color -- */
  .ocean {
    background-color: $blue;
  } //.ocean
} //main

//ハンバーガーメニュー位置固定
@media screen and (min-width: 1500px) {
  header {
    nav {
      width: 1200px;
      margin: 0 auto;
    } //nav
  } //header
} //@media screen and (min-width: 1500px)


@media screen and (max-width: 768px) {
  main {
    font-size: 14px;
    width: 100%;
    .mobile-title {
      font-size: 30px;
    } //.mobile-title
    .main-top {
      .main-inner-wrapper {
      .door-wrapper {
        display: flex;
        flex-direction: column;
        .door {
          order: 2;
          padding-right: 0;
          padding-top: 3%;
        } //.door
        .main-title {
          left: 0;
          margin:auto;
          margin-bottom: 20px;
          margin-top: 120px;
          order: 1;
          padding: 0;
          position: static;
          right: 0;
          top: 25%;
          .main-title-inner-wrapper {
            margin: 0 auto;
            padding: 0 4%;
            width: 300px;
          } //.main-title-inner-wrapper
        } //.main-title
        .scroll {
          bottom: 0;
          left: 0;
          margin: auto;
          right: 0;
        } //.scroll
      } //.door-wrapper
      } //.main-inner-wrapper
    } //.main-top
    .title {
      padding-top: 100px;
    }
    #about {
      padding-bottom: 100px;
    }// #about
    #designs {
      padding-bottom: 120px;
      .designs-item {
        padding: 0 4%;
        .designs-item-inner-wrapper {
          display: flex;
          flex-direction: column;
          text-align: center;
          width: auto;
          .designs-picture {
            width: 100%;
            margin: 20px 0;
          } //.designs-picture
          .designs-point {
            margin-top: 30px;
            width: 100%;
            h4 {
              margin-bottom: 25px;
            } //h4
            ul{
              li {
                text-align: left;
                line-height: 1.5;
              } //li
            } //ul
          } //.designs-point
        } //.designs-item-inner-wrapper
      } //.designs-item
    } //#designs
    #contact {
      padding-bottom: 100px;
    } //#contact
  } //main
} //@media screen and (max-width: 768px)


/* footer==================================
=========================================*/

footer {
  background-color: $navy;
  color: $white;
  font-size: 12px;
  padding: 30px 0 15px 0;
  text-align: center;
  hr {
    border-color: $yellow;
    border-style: solid;
    border-width: 4px 0 0 0;
  } //hr
  p {
    margin-bottom: 30px;
    padding: 25px 0 0 0;
  } //p
} //footer
