@charset "UTF-8";

html {
  box-sizing: border-box;
  color: black;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 100%;
  line-height: 1.8;
}
a {
  text-decoration: none;
}

$gray: #606a74;
$green: #416a7c; //rgba(65, 106, 124, 1)
$pink: #eddfe0;
$red: #D02F59; //rgba(208, 47, 89, 1)

@mixin item {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 3%;
  text-align: center;
}

@mixin navi-hight {
  margin-top: -70px; //固定ナビの高さ分のネガティブマージン
  padding-top: 70px; // 打ち消し用のパディング
}

@mixin title-english {
  color: gray;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
}

@mixin news-category ($color) {
  background-color: $color;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  margin: 0 25px 0 0px;
  padding: 1px 2px;
  width: 60px;
}

.pagetop{
  bottom: 40px;
  display: none;
  position: fixed;
  right: 15px;
  z-index: 100;
  &:hover {
    opacity: 0.3;
    transition-duration: 0.2s;
  }
}
.pagetop a{
  background: rgba(208, 47, 89, 0.8);
  border-radius: 50%;
  display: block;
  font-size: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}
.pagetop a i{
  color:#fff;
  font-size: 20px;
  line-height: 50px;
}
.pagetop a:visited {
  background: rgba(208, 47, 89, 0.8);
}
.pagetop a i:visited {
  color:#fff;
}

/* responsive topへ戻るボタン ===================
==============================================*/
@media screen and (max-width: 1153px) {
  .pagetop {
    display: none;
    a {
      display: none;
    }
  }
}
/*responsive topへ戻るボタン 終わり===============
==============================================*/

header {
  width: 100%;
  #nav-drawer {
    display: none; //mobileナビ非表示
  } //#nav-drawer
  .top-bar {
    align-items: center; //ロゴ、ナビ　縦方向中央揃え
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex; //ロゴ、ナビ　横並び
    height: 70px;
    justify-content: space-between; //ロゴ、ナビ　両端に設置
    margin: 0 auto; //中央に配置
    padding: 0 3%;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
    .top-bar-inner-wrapper {
      align-items: center; //ロゴ、ナビ　縦方向中央揃え
      background-color: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex; //ロゴ、ナビ　横並び
      height: 70px;
      justify-content: space-between; //ロゴ、ナビ　両端に設置
      margin: 0 auto; //中央に配置
      max-width: 1200px;
      padding-bottom: 10px;
      padding-top: 10px;
      top: 0;
      z-index: 10;
    } //.top-bar-inner-wrapper
  } //.top-bar
  .logo img {
      padding-top: 11px;
      width: 250px;
      &:hover {
        opacity: 0.3;
        transition-duration: 0.2s;
    } //&:hover
  } //.logo img
  ul {
    align-items: center;
    display: flex; //ナビ横並び
    list-style: none;
    li {
      margin-right: 20px;
      &:first-child {
        margin-left: 40px;
      }
      &:last-child {
        margin-left: 10px;
        margin-right: 0; //最後の右余白なし
      } //&:last-child
      a {
        color: black;
      }
      a:hover {
        opacity: 0.3;
        transition-duration: 0.2s;
      } //a:hover
      a:visited {
        color: black;
      } //a:visited
    } //li
    .login {
      background-color: $red;
      border-radius: 25px;
      &:hover {
        opacity: 0.6;
        transition-duration: 0.2s;
      } //&:hover
      a {
        box-sizing: border-box;
        color: white; //a要素のcolorは直接a要素に書く
        display: block;
        font-weight: bold;
        padding: 5px 10px;
        &:visited {
          color: white;
        } //&:visited
      } //a
    } //.login
  } //ul
} //header

/* responsive header ===============================
==============================================*/
@media screen and (max-width: 1153px) {
  header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
    .logo-wrapper {
      width: 100%;
    }　//.logo-wrapper
    .logo img {
      padding-top: 30px;
    } //.logo img
    .top-bar {
      display: none; //pc用ナビ非表示
    } //.top-bar
    #nav-drawer {
      align-items: center;
      background-color: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      display: flex;
      height: 70px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999999;
      h1 {
        box-sizing: border-box;
        padding-top: 12px;
        text-align: center;
        width: auto;
        &.logo img {
          width: 200px;
          padding-top: 0;
        } //.logo img
      } //h1
    } //#nav-drawer
    .nav-unshown {
      display:none;   //チェックボックス等非表示
    } //.nav-unshown
    #nav-open {
      display: inline-block;
      height: 20px;
      margin: 25px 0 0 25px;
      position: fixed;
      top: 0;
      vertical-align: middle;
      width: 30px;
    } //#nav-open
    #nav-open span,
    #nav-open span:before,
    #nav-open span:after {
      background: #555;
      border-radius: 3px;
      content: '';
      cursor: pointer;
      display: block;
      height: 3px; //線の太さ
      position: absolute;
      width: 25px; //長さ
    } //#nav-open span, #nav-open span:before, #nav-open span:after
    #nav-open span {
      &:before {
        bottom: -8px;
      } //&:before
      &:after {
        bottom: -16px;
      } //&:after
    } //#nav-open span
    #nav-close {
      background: black;
      display: none; //はじめは隠しておく
      height: 100%;
      left: 0;
      opacity: 0;
      position: fixed;
      top: 0; //全体に広がるように
      transition: .3s ease-in-out;
      width: 100%;
      z-index: 99;
    }
    #nav-content { //中身
      background: #fff;
      height: 100%;
      left: 0;
      max-width: 330px;
      overflow: auto;
      position: fixed;
      top: 0;
      transform: translateX(-105%); //左に隠しておく
      transition: .3s ease-in-out; //滑らかに表示
      -webkit-transform: translateX(-105%);
      width: 90%; //右側に隙間を作る
      z-index: 9999; //最前面に
      ul {
        display: block;
        text-align: center;
        li {
          display: block;
          margin: 15px 0;
           &:first-child {
             border-bottom: 1px solid rgba(0, 0, 0, 0.1);
             font-size: 20px;
             margin: 15px 0 20px 0;
          } //&:first-child
          &.login {
            display: inline-block;
            letter-spacing: 3px;
            width: 60%;
          } //&.login
        } //li
      } //ul
    } //#nav-content
    #nav-input:checked ~ #nav-close { //チェックが入ったらもろもろ表示
      display: block;/*カバーを表示*/
      opacity: .5;
    } //#nav-input:checked ~ #nav-close
    #nav-input:checked ~ #nav-content {
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);/*中身を表示*/
    } //#nav-input:checked ~ #nav-content
  } //header
} //@media screen and (max-width: 1153px)

/* main ========================================
==============================================*/
main {
  margin: 0 auto;
  max-width: 100%;
    .visual img {
      width: 100%;
      vertical-align: top; //画像下にできる余白を取る
    } //.visual img
  .main-message {
    background-color: $pink;
    text-align: center;
    .main-topic{
      margin-bottom: 4%;
      padding-top: 8%;
    } //.main-topic
    p {
      line-height: 3.1;
      padding: 0 15px;
      &:last-child {
        padding-bottom: 8%;
      } //&:last-child
    } //p
  } //.main-message
  .main-wrapper {
      text-align: center;
    p {
      line-height: 2.5;
    } //p
  } //.main-wrapper
  .title-english {
    @include title-english;
  } //.title-english
  .item {
    @include item;
  } //.item

  #news {
    @include navi-hight;
    margin-top: 5%;
    padding-bottom: 8%;
    .news-inner-wrapper {
      margin: 0 auto;
    } //.news-inner-wrapper
    dl {
      margin: 0 auto;
      max-width: 600px;
    } //dl
    dt {
      float: left;
      padding-left: 20px;
    } //dt
    dd {
      border-bottom: 1px solid gray;
      display: block;
      margin-bottom: 15px;
      padding-bottom: 3px;
      text-align: justify;
      &.news-space {
        padding-left: 15px;
      } //&.news-space
      a {
        color: black;
      } //a
    } //dd
    .movie-up {
      @include news-category ($red);
    } //.movie-up
    .notice {
      @include news-category (#A56456);
    } //.notice
    a:visited {
      color: black;
    } //a:visited
    a:hover {
      opacity: 0.3;
      transition-duration: 0.2s;
    } //a:hover
  } //#news

  #lesson {
    @include navi-hight;
    margin-top: 5%;
    padding-bottom: 8%;
    .lesson-img {
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      max-width: 1153px;
    } //.lesson-img
    .sample {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      max-width: 960px;
      padding-top: 150px;
      .youtube {
        width: 60%;
      } //.youtube
    } //.sample
    iframe {
      display: block;
    } //iframe
    .sample-box {
      background: none;
      border: 1px solid $pink;
      height: 150px;
      margin: 15px 10px;
      margin-right: 18%;
      min-width: 300px;
      padding: 20px;
      position: relative;
      top: 25%;
      &:before {
        background-color: white;
        content: "サンプル動画でお試し";
        font-size: large;
        font-weight: bold;
        left: 20px;
        padding: 2px 10px;
        position: absolute;;
        text-align: center;
        top: -15px;
      } //&:before
      &:after {
        background: none;
        border: 1px solid $pink;
        content: "";
        height: 100%;
        left: 5px;
        position: absolute;
        top: 5px;
        width: 100%;
        z-index: -1;
      } //&:after
      ul li {
        list-style: none;
      } //ul li
    } //.sample-box
  } //#lesson

  #pricing {
    @include navi-hight;
    background-color: $pink;
    margin-top: 5%;
    padding-bottom: 8%;
    table {
      margin: 0 auto;
      padding-bottom: 3%;
      table-layout:fixed;
    } //table
    th {
      background-color: $gray;
      color: white;
      letter-spacing: 1.75rem;
      padding: 20px;
      text-indent: 1.75rem;
      width: 40%;
    } //th
    td {
      background-color: white;
      width: 60%;
    } //td
    .sign-up {
      background-color: $red;
      border-radius: 50px;
      color: white;
      display: inline-block; //背景色狭める
      margin-bottom: 3%;
      margin-top: 3%;
      &:hover {
        opacity: 0.3;
        transition-duration: 0.2s;
      } //&:hover
      a {
        border-radius: 50px; //opacityかけたときに角丸部分が変にならないように
        color: white;
        display: inline-block; //背景色部分もリンク可能に
        font-weight: bold;
        letter-spacing: 7px;
        padding: 5px 20px;
        &:visited {
          color: white;
        } //&:visited
      } //a
    } //.sign-up
  } //#pricing

  #instructor {
    @include navi-hight;
    margin-top: 5%;
    padding-bottom: 8%;
    .instructor-wrapper {
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      max-width: 1153px;
    } //.instructor-wrapper
    .name {
      font-size: 1.2rem;
      letter-spacing: 2px;
      margin-bottom: 3%;
    } //.name
  } //#instructor

  #users-voice {
    @include navi-hight;
    margin-top: 5%;
    padding-bottom: 8%;
    .user-inner-wrapper {
      display: flex;
      flex-wrap:wrap;
      justify-content: space-around; //両端から均等に配置
      margin: 0 auto;
      max-width: 960px;
      p {
        line-height: 1.75;
      } //p
    } //.user-inner-wrapper
    .user1 {
      background: none;
      border: 1px solid $pink;
      margin: 10px;
      padding: 15px;
      position: relative;
      width: 420px;
      &:after {
        background: none;
        border: 1px solid $pink;
        content: '';
        height: 100%;
        left: 3px;
        position: absolute;
        top: 3px;
        width: 100%;
        z-index: -1;
      } //&:after
      p:first-child {
        text-align: left;
      } //p:first-child
      p:last-child {
        text-align: right;
        padding-right: 20px;
      } //p:last-child
    } //.user1
    .user2 {
      background: none;
      border: 1px solid $pink;
      margin: 10px;
      padding: 15px;
      position: relative;
      width: 420px;
      &:after {
        background: none;
        border: 1px solid $pink;
        content: '';
        height: 100%;
        left: 3px;
        position: absolute;
        top: 3px;
        width: 100%;
        z-index: -1;
      } //&:after
      p:first-child {
        text-align: left;
      } //p:first-child
      p:last-child {
        padding-right: 20px;
        text-align: right;
      } //p:last-child
    } //.user2
  } //#users-voice

  #faq {
    @include navi-hight;
    margin-top: 5%;
    padding-bottom: 8%;
    .faq-wrapper {
      background-color: $pink;
      margin: 0 auto;
      max-width: 800px;
      dl {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px 15% 0 15%;
        text-align: left;
        &:last-child {
          border-bottom: none;
        } //&:last-child
      } //dl
    } //.faq-wrapper
    dt {
      background: url(../img/arrow-down.png) no-repeat 96% center;
      background-size: 4%;
      cursor: pointer;
      padding: 10px 0;
      position: relative;
      top: 50%;
      &.close {
        background: url(../img/arrow-up.png) no-repeat 96% center;
        background-size: 4%;
        top: 50%;
      } //&.close
    } //dt
    dd {
      display: none;
      padding: 20px 0 10px 0;
    } //dd
  } //#faq

  #contact-us {
    @include navi-hight;
    background-color: rgba(218, 222, 226, 0.3);
    margin-top: 5%;
    padding-bottom: 8%;
    form {
      margin: 0 auto;
      max-width: 960px;
      div.contact-us-item {
        margin-bottom: 2%;
      } //div.contact-us-item
      p,
      select,
      label,
      input {
        display: block;
        margin: 0 auto;
        margin-left: 30%;
        text-align: left;
      } //p, select, label, input
      textarea {
        display: block;
        margin: 0 auto;
        margin-left: 30%;
        text-align: left;
      } //textarea
      select {
        max-width: 240px;
        text-indent: 10px;
        width: 100%;
      } //select
      .styled-select { //デフォルトのスタイルを解除
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
        background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),  linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
        background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
        background-repeat: no-repeat;
        background-size: 5px 5px, 5px 5px;
        border: solid 1px $pink;
        cursor: pointer;
        width: 100%;
      } //.styled-select
      .styled-select:focus {
        border-color:  $red;
        outline: 0;
      } //.styled-select:focus
      select,
      input[type="text"],
      input[type="email"],
      textarea {
        background-color: white;
        border: solid 1px $pink;
        box-shadow: 1px 1px 4px 1px #dadee2;
      } //select,input[type="text"],input[type="email"],textarea
      input[type="text"]:focus,
      input[type="email"]:focus,
      textarea:focus {
        border-color:  $red;
        outline: 0;
      } //input[type="text"]:focus,input[type="email"]:focus,textarea:focus
      input[type="text"] {
        max-width: 240px;
        text-indent: 10px;
        width: 100%;
      } //input[type="text"]
      input[type="email"] {
        max-width: 300px;
        text-indent: 10px;
        width: 100%;
      } //input[type="email"]
      textarea {
        height: 12rem;
        max-width: 480px;
        padding: 10px;
        width: 100%;
      } //textarea
      .btn-area {
        margin-top: 5%;
        padding-bottom: 5%;
      } //.btn-area
      input[type="submit"] {
        background-color: $green;
        border-radius: 50px;
        box-shadow: 1px 1px 4px 1px #dadee2;
        color: white;
        margin: 0 auto;
        padding: 5px 10px;
        text-align: center;
        width: 170px;
        &:hover {
          opacity: 0.3;
          transition-duration: 0.2s;
        } //&:hover
      } //input[type="submit"]
    } //form
  } //#contact-us
} //main

/* responsive main=================================
// ==============================================*/
@media screen and (max-width: 1153px) {
  main {
    .main-message {
      p {
        line-height: 2;
      } //p
    } //.main-message
    #news {
      margin: 0 auto;
      width: auto;
      .news-inner-wrapper {
        margin: 0 4%;
      } //.news-inner-wrapper
      h2 {
        margin-bottom:30px;
      } //h2
      div.clear:after {
        content:"";
        display: block;
        clear: both;
      } //div.clear:after
    } //#news

    #lesson {
      .lesson-img {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: auto;
        img {
          margin-bottom: 20px;
        } //img
      } //.lesson-img
      .sample {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        width: auto;
        .youtube {
          height: 0;
          margin-bottom: 50px;
          order: 2;
          overflow: hidden;
          padding-bottom: 56.25%;
          position: relative;
          width: 100%;
          iframe {
            height: 100%;
            left: 0;
            margin: 0 auto;
            padding: 0 4%;
            position: absolute;
            top: 0;
            width: 100%;
          } //igrame
        } //.youtube
        .sample-box {
          margin: 0 auto;
          margin-bottom: 90px;
          order: 1;
          width: auto;
        } //.sample-box
        .sample-box-wrapper {
          margin: 0 auto;
        } //.sample-box-wrapper
      } //.sample
    } //#lesson

    #pricing {
      table {
        margin: 0 auto;
        width: 100%;
        th {
          display: block;
          margin: 0 auto;
          padding: 10px;
          width: 60%;
        } //th
        td {
          display: block;
          margin: 0 auto;
          padding: 15px;
          width: 60%;
        } //td
      } //table
      .sign-up-wrapper {
        text-align: center;
      } //.sign-up-wrapper
      .sign-up {
        margin-top: 50px;
      } //.sign-up
    } //#pricing

    #instructor {
      .instructor-wrapper {
         display: flex;
         flex-direction: column;
        p {
          line-height: 1.5;
        } //p
        .miyuki,
        .sarah,
        .rina {
          margin-bottom: 65px;
        } //.miyuki, .sarah, .rina
      } //.instructor-wrapper
    } //#instructor

    #users-voice {
      box-sizing: border-box;
      .user-inner-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: auto;
        .user1,
        .user2 {
          display: block;
          margin: 0 auto;
          text-align: center;
          width: 70%;
        } //.user1, .user2
        .user1 {
          margin-bottom: 60px;
        } //.user1
      } //.user-inner-wrapper
    } //#users-voice

    #faq {
      .faq-wrapper {
        background-color: white;
        margin: 0 auto;
        width: auto;
        .faq-inner-wrapper {
          background-color: $pink;
          margin: 0 auto;
          width: 80%;
        } //.faq-inner-wrapper
        dl {
          padding: 8px;
        } //dl
        dt {
          margin: 10px 0;
          padding: 0 15%;
        } //dt
        dd {
          padding: 25px 15%;
        } //dd
      } //.faq-wrapper



    } //#faq

    #contact-us {
      form {
        margin: 0 auto;
        text-align: left;
        width: auto;
        .form-inner-wrapper {
          width: 60%;
        } //.form-inner-wrapper
      } //form
    } //#contact-us
  } //main
} //@media screen and (max-width: 1153px)

/* footer ======================================
==============================================*/
footer {
  background-color: $gray;
  text-align: center;
  .sns {
    margin: 0 auto;
    padding-top: 40px;
    width: 170px;
  } //.sns
  a:hover {
    opacity: 0.4;
    transition-duration: 0.2s;
  } //a:hover
  a {
    margin-right: 25px;
    &:last-of-type {
      margin-right: 0;
    } //&:last-of-type
  } //a
  .sns-color {
    color: #d7dfe6;
  } //.sns-color
  p {
    color: #d7dfe6;
    font-size: 14px;
    margin-top:20px;
    padding: 20px 0 40px 0;
  } //p
} //footer
