@charset "UTF-8";
html {
  box-sizing: border-box;
  color: black;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 100%;
  line-height: 1.8; }

a {
  text-decoration: none; }

.pagetop {
  bottom: 40px;
  display: none;
  position: fixed;
  right: 15px;
  z-index: 100; }
  .pagetop:hover {
    opacity: 0.3;
    transition-duration: 0.2s; }

.pagetop a {
  background: rgba(208, 47, 89, 0.8);
  border-radius: 50%;
  display: block;
  font-size: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px; }

.pagetop a i {
  color: #fff;
  font-size: 20px;
  line-height: 50px; }

.pagetop a:visited {
  background: rgba(208, 47, 89, 0.8); }

.pagetop a i:visited {
  color: #fff; }

/* responsive topへ戻るボタン ===================
==============================================*/
@media screen and (max-width: 1153px) {
  .pagetop {
    display: none; }
    .pagetop a {
      display: none; } }
/*responsive topへ戻るボタン 終わり===============
==============================================*/
header {
  width: 100%; }
  header #nav-drawer {
    display: none; }
  header .top-bar {
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 3%;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10; }
    header .top-bar .top-bar-inner-wrapper {
      align-items: center;
      background-color: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      height: 70px;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1200px;
      padding-bottom: 10px;
      padding-top: 10px;
      top: 0;
      z-index: 10; }
  header .logo img {
    padding-top: 11px;
    width: 250px; }
    header .logo img:hover {
      opacity: 0.3;
      transition-duration: 0.2s; }
  header ul {
    align-items: center;
    display: flex;
    list-style: none; }
    header ul li {
      margin-right: 20px; }
      header ul li:first-child {
        margin-left: 40px; }
      header ul li:last-child {
        margin-left: 10px;
        margin-right: 0; }
      header ul li a {
        color: black; }
      header ul li a:hover {
        opacity: 0.3;
        transition-duration: 0.2s; }
      header ul li a:visited {
        color: black; }
    header ul .login {
      background-color: #D02F59;
      border-radius: 25px; }
      header ul .login:hover {
        opacity: 0.6;
        transition-duration: 0.2s; }
      header ul .login a {
        box-sizing: border-box;
        color: white;
        display: block;
        font-weight: bold;
        padding: 5px 10px; }
        header ul .login a:visited {
          color: white; }

/* responsive header ===============================
==============================================*/
@media screen and (max-width: 1153px) {
  header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998; }
    header .logo-wrapper {
      width: 100%; }
    header 　
    .logo img {
      padding-top: 30px; }
    header .top-bar {
      display: none; }
    header #nav-drawer {
      align-items: center;
      background-color: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      display: flex;
      height: 70px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999999; }
      header #nav-drawer h1 {
        box-sizing: border-box;
        padding-top: 12px;
        text-align: center;
        width: auto; }
        header #nav-drawer h1.logo img {
          width: 200px;
          padding-top: 0; }
    header .nav-unshown {
      display: none; }
    header #nav-open {
      display: inline-block;
      height: 20px;
      margin: 25px 0 0 25px;
      position: fixed;
      top: 0;
      vertical-align: middle;
      width: 30px; }
    header #nav-open span,
    header #nav-open span:before,
    header #nav-open span:after {
      background: #555;
      border-radius: 3px;
      content: '';
      cursor: pointer;
      display: block;
      height: 3px;
      position: absolute;
      width: 25px; }
    header #nav-open span:before {
      bottom: -8px; }
    header #nav-open span:after {
      bottom: -16px; }
    header #nav-close {
      background: black;
      display: none;
      height: 100%;
      left: 0;
      opacity: 0;
      position: fixed;
      top: 0;
      transition: .3s ease-in-out;
      width: 100%;
      z-index: 99; }
    header #nav-content {
      background: #fff;
      height: 100%;
      left: 0;
      max-width: 330px;
      overflow: auto;
      position: fixed;
      top: 0;
      transform: translateX(-105%);
      transition: .3s ease-in-out;
      -webkit-transform: translateX(-105%);
      width: 90%;
      z-index: 9999; }
      header #nav-content ul {
        display: block;
        text-align: center; }
        header #nav-content ul li {
          display: block;
          margin: 15px 0; }
          header #nav-content ul li:first-child {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 20px;
            margin: 15px 0 20px 0; }
          header #nav-content ul li.login {
            display: inline-block;
            letter-spacing: 3px;
            width: 60%; }
    header #nav-input:checked ~ #nav-close {
      display: block;
      /*カバーを表示*/
      opacity: .5; }
    header #nav-input:checked ~ #nav-content {
      box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      /*中身を表示*/ } }
/* main ========================================
==============================================*/
main {
  margin: 0 auto;
  max-width: 100%; }
  main .visual img {
    width: 100%;
    vertical-align: top;
    padding-top: 69px; }
  main .main-message {
    background-color: #eddfe0;
    text-align: center; }
    main .main-message .main-topic {
      margin-bottom: 4%;
      padding-top: 8%; }
    main .main-message p {
      line-height: 3.1;
      padding: 0 15px; }
      main .main-message p:last-child {
        padding-bottom: 8%; }
  main .main-wrapper {
    text-align: center; }
    main .main-wrapper p {
      line-height: 2.5; }
  main .title-english {
    color: gray;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem; }
  main .item {
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 3%;
    text-align: center; }
  main #news {
    margin-top: -70px;
    padding-top: 70px;
    margin-top: 5%;
    padding-bottom: 8%; }
    main #news .news-inner-wrapper {
      margin: 0 auto; }
    main #news dl {
      margin: 0 auto;
      max-width: 600px; }
    main #news dt {
      float: left;
      padding-left: 20px; }
    main #news dd {
      border-bottom: 1px solid gray;
      display: block;
      margin-bottom: 15px;
      padding-bottom: 3px;
      text-align: justify; }
      main #news dd.news-space {
        padding-left: 15px; }
      main #news dd a {
        color: black; }
    main #news .movie-up {
      background-color: #D02F59;
      border-radius: 8px;
      color: white;
      font-size: 14px;
      margin: 0 25px 0 0px;
      padding: 1px 2px;
      width: 60px; }
    main #news .notice {
      background-color: #A56456;
      border-radius: 8px;
      color: white;
      font-size: 14px;
      margin: 0 25px 0 0px;
      padding: 1px 2px;
      width: 60px; }
    main #news a:visited {
      color: black; }
    main #news a:hover {
      opacity: 0.3;
      transition-duration: 0.2s; }
  main #lesson {
    margin-top: -70px;
    padding-top: 70px;
    margin-top: 5%;
    padding-bottom: 8%; }
    main #lesson .lesson-img {
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      max-width: 1153px; }
    main #lesson .sample {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      max-width: 960px;
      padding-top: 150px; }
      main #lesson .sample .youtube {
        width: 60%; }
    main #lesson iframe {
      display: block; }
    main #lesson .sample-box {
      background: none;
      border: 1px solid #eddfe0;
      height: 150px;
      margin: 15px 10px;
      margin-right: 18%;
      min-width: 300px;
      padding: 20px;
      position: relative;
      top: 25%; }
      main #lesson .sample-box:before {
        background-color: white;
        content: "サンプル動画でお試し";
        font-size: large;
        font-weight: bold;
        left: 20px;
        padding: 2px 10px;
        position: absolute;
        text-align: center;
        top: -15px; }
      main #lesson .sample-box:after {
        background: none;
        border: 1px solid #eddfe0;
        content: "";
        height: 100%;
        left: 5px;
        position: absolute;
        top: 5px;
        width: 100%;
        z-index: -1; }
      main #lesson .sample-box ul li {
        list-style: none; }
  main #pricing {
    margin-top: -70px;
    padding-top: 70px;
    background-color: #eddfe0;
    margin-top: 5%;
    padding-bottom: 8%; }
    main #pricing table {
      margin: 0 auto;
      padding-bottom: 3%;
      table-layout: fixed; }
    main #pricing th {
      background-color: #606a74;
      color: white;
      letter-spacing: 1.75rem;
      padding: 20px;
      text-indent: 1.75rem;
      width: 40%; }
    main #pricing td {
      background-color: white;
      width: 60%; }
    main #pricing .sign-up {
      background-color: #D02F59;
      border-radius: 50px;
      color: white;
      display: inline-block;
      margin-bottom: 3%;
      margin-top: 3%; }
      main #pricing .sign-up:hover {
        opacity: 0.3;
        transition-duration: 0.2s; }
      main #pricing .sign-up a {
        border-radius: 50px;
        color: white;
        display: inline-block;
        font-weight: bold;
        letter-spacing: 7px;
        padding: 5px 20px; }
        main #pricing .sign-up a:visited {
          color: white; }
  main #instructor {
    margin-top: -70px;
    padding-top: 70px;
    margin-top: 5%;
    padding-bottom: 8%; }
    main #instructor .instructor-wrapper {
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      max-width: 1153px; }
    main #instructor .name {
      font-size: 1.2rem;
      letter-spacing: 2px;
      margin-bottom: 3%; }
  main #users-voice {
    margin-top: -70px;
    padding-top: 70px;
    margin-top: 5%;
    padding-bottom: 8%; }
    main #users-voice .user-inner-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 auto;
      max-width: 960px; }
      main #users-voice .user-inner-wrapper p {
        line-height: 1.75; }
    main #users-voice .user1 {
      background: none;
      border: 1px solid #eddfe0;
      margin: 10px;
      padding: 15px;
      position: relative;
      width: 420px; }
      main #users-voice .user1:after {
        background: none;
        border: 1px solid #eddfe0;
        content: '';
        height: 100%;
        left: 3px;
        position: absolute;
        top: 3px;
        width: 100%;
        z-index: -1; }
      main #users-voice .user1 p:first-child {
        text-align: left; }
      main #users-voice .user1 p:last-child {
        text-align: right;
        padding-right: 20px; }
    main #users-voice .user2 {
      background: none;
      border: 1px solid #eddfe0;
      margin: 10px;
      padding: 15px;
      position: relative;
      width: 420px; }
      main #users-voice .user2:after {
        background: none;
        border: 1px solid #eddfe0;
        content: '';
        height: 100%;
        left: 3px;
        position: absolute;
        top: 3px;
        width: 100%;
        z-index: -1; }
      main #users-voice .user2 p:first-child {
        text-align: left; }
      main #users-voice .user2 p:last-child {
        padding-right: 20px;
        text-align: right; }
  main #faq {
    margin-top: -70px;
    padding-top: 70px;
    margin-top: 5%;
    padding-bottom: 8%; }
    main #faq .faq-wrapper {
      background-color: #eddfe0;
      margin: 0 auto;
      max-width: 800px; }
      main #faq .faq-wrapper dl {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px 15% 0 15%;
        text-align: left; }
        main #faq .faq-wrapper dl:last-child {
          border-bottom: none; }
    main #faq dt {
      background: url(../img/arrow-down.png) no-repeat 96% center;
      background-size: 4%;
      cursor: pointer;
      padding: 10px 0;
      position: relative;
      top: 50%; }
      main #faq dt.close {
        background: url(../img/arrow-up.png) no-repeat 96% center;
        background-size: 4%;
        top: 50%; }
    main #faq dd {
      display: none;
      padding: 20px 0 10px 0; }
  main #contact-us {
    margin-top: -70px;
    padding-top: 70px;
    background-color: rgba(218, 222, 226, 0.3);
    margin-top: 5%;
    padding-bottom: 8%; }
    main #contact-us form {
      margin: 0 auto;
      max-width: 960px; }
      main #contact-us form div.contact-us-item {
        margin-bottom: 2%; }
      main #contact-us form p,
      main #contact-us form select,
      main #contact-us form label,
      main #contact-us form input {
        display: block;
        margin: 0 auto;
        margin-left: 30%;
        text-align: left; }
      main #contact-us form textarea {
        display: block;
        margin: 0 auto;
        margin-left: 30%;
        text-align: left; }
      main #contact-us form select {
        max-width: 240px;
        text-indent: 10px;
        width: 100%; }
      main #contact-us form .styled-select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
        background-image: linear-gradient(45deg, transparent 50%, rgba(0, 0, 0, 0.4) 50%), linear-gradient(135deg, rgba(0, 0, 0, 0.4) 50%, transparent 50%);
        background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
        background-repeat: no-repeat;
        background-size: 5px 5px, 5px 5px;
        border: solid 1px #eddfe0;
        cursor: pointer;
        width: 100%; }
      main #contact-us form .styled-select:focus {
        border-color: #D02F59;
        outline: 0; }
      main #contact-us form select,
      main #contact-us form input[type="text"],
      main #contact-us form input[type="email"],
      main #contact-us form textarea {
        background-color: white;
        border: solid 1px #eddfe0;
        box-shadow: 1px 1px 4px 1px #dadee2; }
      main #contact-us form input[type="text"]:focus,
      main #contact-us form input[type="email"]:focus,
      main #contact-us form textarea:focus {
        border-color: #D02F59;
        outline: 0; }
      main #contact-us form input[type="text"] {
        max-width: 240px;
        text-indent: 10px;
        width: 100%; }
      main #contact-us form input[type="email"] {
        max-width: 300px;
        text-indent: 10px;
        width: 100%; }
      main #contact-us form textarea {
        height: 12rem;
        max-width: 480px;
        padding: 10px;
        width: 100%; }
      main #contact-us form .btn-area {
        margin-top: 5%;
        padding-bottom: 5%; }
      main #contact-us form input[type="submit"] {
        background-color: #416a7c;
        border-radius: 50px;
        box-shadow: 1px 1px 4px 1px #dadee2;
        color: white;
        margin: 0 auto;
        padding: 5px 10px;
        text-align: center;
        width: 170px; }
        main #contact-us form input[type="submit"]:hover {
          opacity: 0.3;
          transition-duration: 0.2s; }

/* responsive main=================================
// ==============================================*/
@media screen and (max-width: 1153px) {
  main .main-message p {
    line-height: 2; }
  main #news {
    margin: 0 auto;
    width: auto; }
    main #news .news-inner-wrapper {
      margin: 0 4%; }
    main #news h2 {
      margin-bottom: 30px; }
    main #news div.clear:after {
      content: "";
      display: block;
      clear: both; }
  main #lesson .lesson-img {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: auto; }
    main #lesson .lesson-img img {
      margin-bottom: 20px; }
  main #lesson .sample {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    width: auto; }
    main #lesson .sample .youtube {
      height: 0;
      margin-bottom: 50px;
      order: 2;
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      width: 100%; }
      main #lesson .sample .youtube iframe {
        height: 100%;
        left: 0;
        margin: 0 auto;
        padding: 0 4%;
        position: absolute;
        top: 0;
        width: 100%; }
    main #lesson .sample .sample-box {
      margin: 0 auto;
      margin-bottom: 90px;
      order: 1;
      width: auto; }
    main #lesson .sample .sample-box-wrapper {
      margin: 0 auto; }
  main #pricing table {
    margin: 0 auto;
    width: 100%; }
    main #pricing table th {
      display: block;
      margin: 0 auto;
      padding: 10px;
      width: 60%; }
    main #pricing table td {
      display: block;
      margin: 0 auto;
      padding: 15px;
      width: 60%; }
  main #pricing .sign-up-wrapper {
    text-align: center; }
  main #pricing .sign-up {
    margin-top: 50px; }
  main #instructor .instructor-wrapper {
    display: flex;
    flex-direction: column; }
    main #instructor .instructor-wrapper p {
      line-height: 1.5; }
    main #instructor .instructor-wrapper .miyuki,
    main #instructor .instructor-wrapper .sarah,
    main #instructor .instructor-wrapper .rina {
      margin-bottom: 65px; }
  main #users-voice {
    box-sizing: border-box; }
    main #users-voice .user-inner-wrapper {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: auto; }
      main #users-voice .user-inner-wrapper .user1,
      main #users-voice .user-inner-wrapper .user2 {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 70%; }
      main #users-voice .user-inner-wrapper .user1 {
        margin-bottom: 60px; }
  main #faq .faq-wrapper {
    background-color: white;
    margin: 0 auto;
    width: auto; }
    main #faq .faq-wrapper .faq-inner-wrapper {
      background-color: #eddfe0;
      margin: 0 auto;
      width: 80%; }
    main #faq .faq-wrapper dl {
      padding: 8px; }
    main #faq .faq-wrapper dt {
      margin: 10px 0;
      padding: 0 15%; }
    main #faq .faq-wrapper dd {
      padding: 25px 15%; }
  main #contact-us form {
    margin: 0 auto;
    text-align: left;
    width: auto; }
    main #contact-us form .form-inner-wrapper {
      width: 60%; } }
/* footer ======================================
==============================================*/
footer {
  background-color: #606a74;
  text-align: center; }
  footer .sns {
    margin: 0 auto;
    padding-top: 40px;
    width: 170px; }
  footer a:hover {
    opacity: 0.4;
    transition-duration: 0.2s; }
  footer a {
    margin-right: 25px; }
    footer a:last-of-type {
      margin-right: 0; }
  footer .sns-color {
    color: #d7dfe6; }
  footer p {
    color: #d7dfe6;
    font-size: 14px;
    margin-top: 20px;
    padding: 20px 0 40px 0; }

/*# sourceMappingURL=style.css.map */
