@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

body header {
  background-color: #F6F6F6;
}
body header div.header-wrap {
  position: relative;
  overflow: hidden;
}
body header div.header-wrap:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(135deg);
  position: absolute;
  right: 49%;
  bottom: 10%;
  z-index: 300;
}
body header div.header-wrap div#slide {
  box-sizing: content-box;
  background-color: #F6F6F6;
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 50% 9%;
  border-bottom-right-radius: 50% 9%;
  margin-left: -100px;
  margin-right: -100px;
  padding-left: 100px;
  padding-right: 100px;
}
body header div.header-wrap div#slide img {
  width: 100%;
  height: 600px;
  position: absolute;
  object-fit: cover;
  left: 0;
  border-bottom-left-radius: 50% 9%;
  border-bottom-right-radius: 50% 9%;
}
body header div.header-wrap div.header-top {
  display: flex;
  align-items: center;
  padding: 30px 5% 0 5%;
  position: absolute;
  top: 0;
  justify-content: space-between;
  width: 100%;
}
body header div.header-wrap div.header-top div.logo {
  width: 25%;
  transition-duration: .3s;
}
body header div.header-wrap div.header-top div.logo:hover {
  opacity: 0.6;
  transition-duration: .3s;
}
body header div.header-wrap div.header-top div.logo img.sp {
  display: none;
}
body header div.header-wrap div.header-top nav ul {
  display: flex;
}
body header div.header-wrap div.header-top nav ul li {
  margin-left: 40px;
  color: white;
}
body header div.header-wrap div.header-top nav ul a {
  position: relative;
}
body header div.header-wrap div.header-top nav ul a:after {
  position: absolute;
  bottom: -6px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition-duration: .3s;
}
body header div.header-wrap div.header-top nav ul a:hover::after {
  opacity: 1;
  visibility: visible;
}
body header div.header-wrap div.header-top nav ul a:visited {
  color: inherit;
}
body header div.header-wrap div.sp-menu {
  display: none;
}
body main div.concept {
  background-color: #f6f6f6;
  text-align: center;
  padding: 120px 0;
  width: 100%;
}
body main div.concept p {
  width: 35%;
  margin: 0 auto;
  text-align: left;
  letter-spacing: 0.2em;
}
body main div.concept p:nth-child(1) {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 60px;
}
body main div.concept p:not(:first-child) {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.7;
}
body main div.concept p.pas-pol {
  font-size: 30px;
  text-align: center;
}
body main div.concept p.pas-pol ruby rt {
  font-size: 12px;
}
body main div#product div.product-wrap {
  padding: 100px 0;
}
body main div#product div.product-wrap div.title-button {
  display: flex;
  justify-content: space-around;
}
body main div#product div.product-wrap div.title-button h2 {
  background-image: url(../img/sectionTitle-underLine@2x.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 60px;
  padding-bottom: 10px;
  letter-spacing: 0.2em;
  font-weight: normal;
}
body main div#product div.product-wrap div.title-button p.more {
  border: 1px solid black;
  padding: 10px 60px;
  transition-duration: .3s;
  position: relative;
  letter-spacing: 0.1em;
}
body main div#product div.product-wrap div.title-button p.more:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -5.1px;
}
body main div#product div.product-wrap div.title-button p.more:hover {
  color: white;
  background-color: black;
  transition-duration: .3s;
  background-image: none;
}
body main div#product div.product-wrap div.title-button p.more:hover:after {
  border-top: 1px solid white;
  border-right: 1px solid white;
}
body main div#product div.product-wrap div.product-item-wrap {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main div#product div.product-wrap div.product-item-wrap div.product-item {
  width: 30%;
  margin-top: 70px;
  position: relative;
  transition-duration: .3s;
}
body main div#product div.product-wrap div.product-item-wrap div.product-item:hover {
  opacity: 0.7;
  transition-duration: .3s;
}
body main div#product div.product-wrap div.product-item-wrap div.product-item p {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.1em;
  width: 85%;
  margin: 0 auto;
}
body main div#product div.product-wrap div.product-item-wrap div.product-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body main div#product div.product-wrap a p.more-sp {
  display: none;
}
body main div#news {
  background-color: #f6f6f6;
  padding: 100px 0;
}
body main div#news div.title-button {
  display: flex;
  justify-content: space-around;
}
body main div#news div.title-button h2 {
  background-image: url(../img/sectionTitle-underLine@2x.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 60px;
  padding-bottom: 10px;
  letter-spacing: 0.2em;
  font-weight: normal;
}
body main div#news div.title-button p.more {
  border: 1px solid black;
  padding: 10px 60px;
  transition-duration: .3s;
  position: relative;
  letter-spacing: 0.1em;
}
body main div#news div.title-button p.more:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -5.1px;
}
body main div#news div.title-button p.more:hover {
  color: white;
  background-color: black;
  transition-duration: .3s;
  background-image: none;
}
body main div#news div.title-button p.more:hover:after {
  border-top: 1px solid white;
  border-right: 1px solid white;
}
body main div#news div.news-item-wrap {
  width: 60%;
  margin: 0 auto;
}
body main div#news div.news-item-wrap div.news-item {
  width: 100%;
  display: flex;
  margin-top: 70px;
  position: relative;
  transition-duration: .3s;
}
body main div#news div.news-item-wrap div.news-item:hover {
  opacity: 0.7;
  transition-duration: .3s;
}
body main div#news div.news-item-wrap div.news-item div.pic {
  width: 40%;
}
body main div#news div.news-item-wrap div.news-item div.pic img {
  width: 100%;
}
body main div#news div.news-item-wrap div.news-item div.sentence {
  width: 60%;
  margin-left: 35px;
  line-height: 1.7;
}
body main div#news div.news-item-wrap div.news-item div.sentence p:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}
body main div#news div.news-item-wrap div.news-item div.sentence p:nth-child(2) {
  font-size: 12px;
  margin-bottom: 15px;
  color: gray;
}
body main div#news div.news-item-wrap div.news-item div.sentence p:nth-child(3) {
  font-size: 13px;
  color: gray;
}
body main div#news div.news-item-wrap div.news-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body main div#news div.news-item-wrap a p.more-sp {
  display: none;
}
body footer {
  position: relative;
}
body footer div#to-top {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  position: absolute;
  right: 50%;
  top: -30px;
  transition-duration: .3s;
}
body footer div#to-top:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  transform: rotate(315deg);
  position: absolute;
  top: 30%;
  right: 18.5px;
}
body footer div#to-top:hover {
  transform: translate(0, -5px);
  transition-duration: .3s;
}
body footer div#to-top a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body footer div.share {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
body footer div.share a.share-button:nth-child(1) {
  border: 1px solid #4871a9;
  color: #4871a9;
  padding: 10px;
  font-size: 14px;
  transition-duration: .3s;
}
body footer div.share a.share-button:nth-child(1):hover {
  background-color: #4871a9;
  color: white;
  transition-duration: .3s;
}
body footer div.share a.share-button:nth-child(2) {
  border: 1px solid #70bdd3;
  color: #70bdd3;
  padding: 10px;
  font-size: 14px;
  transition-duration: .3s;
}
body footer div.share a.share-button:nth-child(2):hover {
  background-color: #70bdd3;
  color: white;
  transition-duration: .3s;
}
body footer div.share a.share-button:nth-child(3) {
  border: 1px solid #2f9bcd;
  color: #2f9bcd;
  padding: 10px;
  font-size: 14px;
  transition-duration: .3s;
}
body footer div.share a.share-button:nth-child(3):hover {
  background-color: #2f9bcd;
  color: white;
  transition-duration: .3s;
}
body footer div.share a.share-button:nth-child(4) {
  display: none;
}
body footer div.share a {
  margin-right: 20px;
}
body footer div.share a:nth-child(3) {
  margin-right: 0;
}
body footer div.footer-nav {
  background-color: #939899;
  padding: 30px 0;
}
body footer div.footer-nav ul {
  display: flex;
  justify-content: center;
  color: white;
}
body footer div.footer-nav ul li {
  margin-left: 30px;
}
body footer div.footer-nav ul li:first-child {
  margin-left: 0;
}
body footer div.footer-nav ul li a {
  transition-duration: .3s;
}
body footer div.footer-nav ul li a:hover {
  opacity: 0.6;
  transition-duration: .3s;
}
body footer div.copyright {
  background-color: #656c6e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
body footer div.copyright div {
  width: 30%;
  transition-duration: .3s;
}
body footer div.copyright div:hover {
  opacity: 0.6;
  transition-duration: .3s;
}
body footer div.copyright div img {
  width: 20%;
}
body footer div.copyright p {
  font-size: 10px;
}

/* レスポンシブ ================
============================== */
@media screen and (max-width: 900px) {
  body header {
    background-color: #F6F6F6;
  }
  body header div.header-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  body header div.header-wrap:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(135deg);
    position: absolute;
    right: 49%;
    bottom: 10%;
    z-index: 300;
  }
  body header div.header-wrap div#slide {
    box-sizing: content-box;
    background-color: #F6F6F6;
    width: 100%;
    height: 600px;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
  }
  body header div.header-wrap div#slide img {
    max-width: 100%;
    height: 600px;
    position: absolute;
    object-fit: cover;
    margin-left: -100px;
    margin-right: -100px;
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
  }
  body header div.header-wrap div.header-top {
    display: block;
    padding: 0;
    position: absolute;
    top: 35%;
    width: 100%;
    margin: 0 auto;
  }
  body header div.header-wrap div.header-top div.logo {
    width: 190px;
    margin: 0 auto;
  }
  body header div.header-wrap div.header-top div.logo:hover {
    opacity: 1;
  }
  body header div.header-wrap div.header-top div.logo img.pc {
    display: none;
  }
  body header div.header-wrap div.header-top div.logo img.sp {
    display: block;
  }
  body header div.header-wrap div.header-top nav {
    display: none;
  }
  body header div.header-wrap div.sp-menu {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
  }
  body header div.header-wrap div.sp-menu div.dropdown li {
    padding: 15px 0 15px 8%;
    border-top: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body header div.header-wrap div.sp-menu div.dropdown li a {
    display: block;
  }
  body header div.header-wrap div.triger {
    background-color: white;
    background-image: url(../img/navigation-toggle@2x.png);
    background-position: 95% 50%;
    background-size: 20px;
    height: 50px;
    color: gray;
  }
  body header div.header-wrap div.triger div.btn-more {
    padding-left: 8%;
    line-height: 50px;
  }
  body main div.concept {
    background-color: #f6f6f6;
    text-align: left;
    padding: 120px 6%;
    width: 100%;
  }
  body main div.concept p {
    width: 100%;
    text-align: left;
    letter-spacing: 0.2em;
  }
  body main div.concept p:nth-child(1) {
    text-align: left;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 60px;
  }
  body main div.concept p:not(:first-child) {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.7;
  }
  body main div.concept p.pas-pol {
    font-size: 30px;
    text-align: left;
  }
  body main div.concept p.pas-pol ruby rt {
    font-size: 12px;
  }
  body main div#product div.product-wrap {
    padding: 100px 0;
  }
  body main div#product div.product-wrap div.title-button {
    display: flex;
    justify-content: space-around;
  }
  body main div#product div.product-wrap div.title-button h2 {
    background-image: url(../img/sectionTitle-underLine@2x.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 60px;
    padding-bottom: 10px;
    letter-spacing: 0.2em;
    font-weight: normal;
  }
  body main div#product div.product-wrap div.title-button p.more {
    border: 1px solid black;
    padding: 10px 60px;
    transition-duration: .3s;
    position: relative;
    letter-spacing: 0.1em;
  }
  body main div#product div.product-wrap div.title-button p.more:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -5.1px;
  }
  body main div#product div.product-wrap div.title-button p.more:hover {
    color: white;
    background-color: black;
    transition-duration: .3s;
    background-image: none;
  }
  body main div#product div.product-wrap div.title-button p.more:hover:after {
    border-top: 1px solid white;
    border-right: 1px solid white;
  }
  body main div#product div.product-wrap div.product-item-wrap {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  body main div#product div.product-wrap div.product-item-wrap div.product-item {
    width: 100%;
    margin-top: 50px;
    position: relative;
    transition-duration: .3s;
    display: flex;
  }
  body main div#product div.product-wrap div.product-item-wrap div.product-item:hover {
    opacity: 0.7;
    transition-duration: .3s;
  }
  body main div#product div.product-wrap div.product-item-wrap div.product-item img {
    width: 35%;
  }
  body main div#product div.product-wrap div.product-item-wrap div.product-item p {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-left: 30px;
  }
  body main div#product div.product-wrap div.product-item-wrap div.product-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  body main div#news {
    background-color: #f6f6f6;
    padding: 100px 0;
  }
  body main div#news div.title-button {
    display: flex;
    justify-content: space-around;
  }
  body main div#news div.title-button h2 {
    background-image: url(../img/sectionTitle-underLine@2x.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 60px;
    padding-bottom: 10px;
    letter-spacing: 0.2em;
    font-weight: normal;
  }
  body main div#news div.title-button p.more {
    border: 1px solid black;
    padding: 10px 60px;
    transition-duration: .3s;
    position: relative;
    letter-spacing: 0.1em;
  }
  body main div#news div.title-button p.more:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -5.1px;
  }
  body main div#news div.title-button p.more:hover {
    color: white;
    background-color: black;
    transition-duration: .3s;
    background-image: none;
  }
  body main div#news div.title-button p.more:hover:after {
    border-top: 1px solid white;
    border-right: 1px solid white;
  }
  body main div#news div.news-item-wrap {
    width: 60%;
    margin: 0 auto;
  }
  body main div#news div.news-item-wrap div.news-item {
    width: 100%;
    display: flex;
    margin-top: 70px;
    position: relative;
    transition-duration: .3s;
  }
  body main div#news div.news-item-wrap div.news-item:hover {
    opacity: 0.7;
    transition-duration: .3s;
  }
  body main div#news div.news-item-wrap div.news-item div.pic {
    width: 40%;
  }
  body main div#news div.news-item-wrap div.news-item div.pic img {
    width: 100%;
  }
  body main div#news div.news-item-wrap div.news-item div.sentence {
    width: 60%;
    margin-left: 35px;
    line-height: 1.7;
  }
  body main div#news div.news-item-wrap div.news-item div.sentence p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
  }
  body main div#news div.news-item-wrap div.news-item div.sentence p:nth-child(2) {
    font-size: 12px;
    margin-bottom: 15px;
    color: gray;
  }
  body main div#news div.news-item-wrap div.news-item div.sentence p:nth-child(3) {
    font-size: 13px;
    color: gray;
  }
  body main div#news div.news-item-wrap div.news-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  body footer {
    position: relative;
  }
  body footer div#to-top {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    position: absolute;
    right: 50%;
    top: -30px;
    transition-duration: .3s;
  }
  body footer div#to-top:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    transform: rotate(315deg);
    position: absolute;
    top: 30%;
    right: 18.5px;
  }
  body footer div#to-top:hover {
    transform: translate(0, -5px);
    transition-duration: .3s;
  }
  body footer div#to-top a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  body footer div.share {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
  body footer div.share a.share-button:nth-child(1) {
    border: 1px solid #4871a9;
    color: #4871a9;
    padding: 10px;
    font-size: 14px;
    transition-duration: .3s;
  }
  body footer div.share a.share-button:nth-child(1):hover {
    background-color: #4871a9;
    color: white;
    transition-duration: .3s;
  }
  body footer div.share a.share-button:nth-child(2) {
    border: 1px solid #70bdd3;
    color: #70bdd3;
    padding: 10px;
    font-size: 14px;
    transition-duration: .3s;
  }
  body footer div.share a.share-button:nth-child(2):hover {
    background-color: #70bdd3;
    color: white;
    transition-duration: .3s;
  }
  body footer div.share a.share-button:nth-child(3) {
    border: 1px solid #2f9bcd;
    color: #2f9bcd;
    padding: 10px;
    font-size: 14px;
    transition-duration: .3s;
  }
  body footer div.share a.share-button:nth-child(3):hover {
    background-color: #2f9bcd;
    color: white;
    transition-duration: .3s;
  }
  body footer div.share a.share-button:nth-child(4) {
    display: none;
  }
  body footer div.share a {
    margin-right: 20px;
  }
  body footer div.share a:nth-child(3) {
    margin-right: 0;
  }
  body footer div.footer-nav {
    background-color: #939899;
    padding: 30px 0;
  }
  body footer div.footer-nav ul {
    display: flex;
    justify-content: center;
    color: white;
  }
  body footer div.footer-nav ul li {
    margin-left: 30px;
  }
  body footer div.footer-nav ul li:first-child {
    margin-left: 0;
  }
  body footer div.footer-nav ul li a {
    transition-duration: .3s;
  }
  body footer div.footer-nav ul li a:hover {
    opacity: 0.6;
    transition-duration: .3s;
  }
  body footer div.copyright {
    background-color: #656c6e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }
  body footer div.copyright div {
    width: 30%;
    transition-duration: .3s;
  }
  body footer div.copyright div:hover {
    opacity: 0.6;
    transition-duration: .3s;
  }
  body footer div.copyright div img {
    width: 20%;
  }
  body footer div.copyright p {
    font-size: 10px;
  }
}
@media screen and (max-width: 500px) {
  body header {
    background-color: #F6F6F6;
  }
  body header div.header-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  body header div.header-wrap:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(135deg);
    position: absolute;
    right: 49%;
    bottom: 10%;
    z-index: 300;
  }
  body header div.header-wrap div#slide {
    box-sizing: content-box;
    background-color: #F6F6F6;
    width: 100%;
    height: 600px;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
  }
  body header div.header-wrap div#slide img {
    max-width: 100%;
    height: 600px;
    position: absolute;
    object-fit: cover;
    margin-left: -100px;
    margin-right: -100px;
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
  }
  body header div.header-wrap div.header-top {
    display: block;
    padding: 0;
    position: absolute;
    top: 35%;
    width: 100%;
    margin: 0 auto;
  }
  body header div.header-wrap div.header-top div.logo {
    width: 190px;
    margin: 0 auto;
  }
  body header div.header-wrap div.header-top div.logo:hover {
    opacity: 1;
  }
  body header div.header-wrap div.header-top div.logo img.pc {
    display: none;
  }
  body header div.header-wrap div.header-top div.logo img.sp {
    display: block;
  }
  body header div.header-wrap div.header-top nav {
    display: none;
  }
  body header div.header-wrap div.sp-menu {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
  }
  body header div.header-wrap div.sp-menu div.dropdown li {
    padding: 15px 0 15px 10%;
    border-top: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body header div.header-wrap div.sp-menu div.dropdown li a {
    display: block;
  }
  body header div.header-wrap div.triger {
    background-color: white;
    background-image: url(../img/navigation-toggle@2x.png);
    background-position: 95% 50%;
    background-size: 20px;
    height: 50px;
    color: gray;
  }
  body header div.header-wrap div.triger div.btn-more {
    padding-left: 10%;
    line-height: 50px;
  }
  body main div.concept {
    background-color: #f6f6f6;
    text-align: left;
    padding: 100px 4%;
    width: 100%;
  }
  body main div.concept p {
    width: 100%;
    text-align: left;
    letter-spacing: 0.2em;
  }
  body main div.concept p:nth-child(1) {
    text-align: left;
    font-size: 30px;
    margin-bottom: 60px;
  }
  body main div.concept p:not(:first-child) {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.7;
  }
  body main div.concept p.pas-pol {
    font-size: 20px;
    text-align: left;
  }
  body main div.concept p.pas-pol ruby rt {
    font-size: 12px;
  }
  body main div#product div.product-wrap {
    padding: 100px 0;
  }
  body main div#product div.product-wrap div.title-button {
    display: block;
  }
  body main div#product div.product-wrap div.title-button h2 {
    background-image: url(../img/sectionTitle-underLine@2x.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 60px;
    padding-bottom: 10px;
    letter-spacing: 0.2em;
    font-weight: normal;
    text-align: center;
  }
  body main div#product div.product-wrap div.title-button p.more {
    display: none;
  }
  body main div#product div.product-wrap div.product-item-wrap {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  body main div#product div.product-wrap div.product-item-wrap div.product-item {
    width: 100%;
    margin-top: 50px;
    position: relative;
    transition-duration: .3s;
    display: flex;
  }
  body main div#product div.product-wrap div.product-item-wrap div.product-item:hover {
    opacity: 0.7;
    transition-duration: .3s;
  }
  body main div#product div.product-wrap div.product-item-wrap div.product-item img {
    width: 35%;
  }
  body main div#product div.product-wrap div.product-item-wrap div.product-item p {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-left: 30px;
  }
  body main div#product div.product-wrap div.product-item-wrap div.product-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  body main div#product div.product-wrap a p.more-sp {
    display: block;
  }
  body main div#product div.product-wrap a p.more-sp p.more-sp {
    display: block;
    border: 1px solid black;
    padding: 10px 60px;
    transition-duration: .3s;
    position: relative;
    letter-spacing: 0.1em;
  }
  body main div#product div.product-wrap a p.more-sp p.more-sp:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -5.1px;
  }
  body main div#product div.product-wrap a p.more-sp p.more-sp:hover {
    color: white;
    background-color: black;
    transition-duration: .3s;
    background-image: none;
  }
  body main div#product div.product-wrap a p.more-sp p.more-sp:hover:after {
    border-top: 1px solid white;
    border-right: 1px solid white;
  }
  body main div#news {
    background-color: #f6f6f6;
    padding: 100px 0;
  }
  body main div#news div.title-button {
    display: flex;
    justify-content: space-around;
  }
  body main div#news div.title-button h2 {
    background-image: url(../img/sectionTitle-underLine@2x.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 60px;
    padding-bottom: 10px;
    letter-spacing: 0.2em;
    font-weight: normal;
  }
  body main div#news div.title-button p.more {
    border: 1px solid black;
    padding: 10px 60px;
    transition-duration: .3s;
    position: relative;
    letter-spacing: 0.1em;
  }
  body main div#news div.title-button p.more:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -5.1px;
  }
  body main div#news div.title-button p.more:hover {
    color: white;
    background-color: black;
    transition-duration: .3s;
    background-image: none;
  }
  body main div#news div.title-button p.more:hover:after {
    border-top: 1px solid white;
    border-right: 1px solid white;
  }
  body main div#news div.news-item-wrap {
    width: 60%;
    margin: 0 auto;
  }
  body main div#news div.news-item-wrap div.news-item {
    width: 100%;
    display: flex;
    margin-top: 70px;
    position: relative;
    transition-duration: .3s;
  }
  body main div#news div.news-item-wrap div.news-item:hover {
    opacity: 0.7;
    transition-duration: .3s;
  }
  body main div#news div.news-item-wrap div.news-item div.pic {
    width: 40%;
  }
  body main div#news div.news-item-wrap div.news-item div.pic img {
    width: 100%;
  }
  body main div#news div.news-item-wrap div.news-item div.sentence {
    width: 60%;
    margin-left: 35px;
    line-height: 1.7;
  }
  body main div#news div.news-item-wrap div.news-item div.sentence p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
  }
  body main div#news div.news-item-wrap div.news-item div.sentence p:nth-child(2) {
    font-size: 12px;
    margin-bottom: 15px;
    color: gray;
  }
  body main div#news div.news-item-wrap div.news-item div.sentence p:nth-child(3) {
    font-size: 13px;
    color: gray;
  }
  body main div#news div.news-item-wrap div.news-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  body footer {
    position: relative;
  }
  body footer div#to-top {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    position: absolute;
    right: 50%;
    top: -30px;
    transition-duration: .3s;
  }
  body footer div#to-top:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    transform: rotate(315deg);
    position: absolute;
    top: 30%;
    right: 18.5px;
  }
  body footer div#to-top:hover {
    transform: translate(0, -5px);
    transition-duration: .3s;
  }
  body footer div#to-top a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  body footer div.share {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
  body footer div.share a.share-button:nth-child(1) {
    border: 1px solid #4871a9;
    color: #4871a9;
    padding: 10px;
    font-size: 14px;
    transition-duration: .3s;
  }
  body footer div.share a.share-button:nth-child(1):hover {
    background-color: #4871a9;
    color: white;
    transition-duration: .3s;
  }
  body footer div.share a.share-button:nth-child(2) {
    border: 1px solid #70bdd3;
    color: #70bdd3;
    padding: 10px;
    font-size: 14px;
    transition-duration: .3s;
  }
  body footer div.share a.share-button:nth-child(2):hover {
    background-color: #70bdd3;
    color: white;
    transition-duration: .3s;
  }
  body footer div.share a.share-button:nth-child(3) {
    border: 1px solid #2f9bcd;
    color: #2f9bcd;
    padding: 10px;
    font-size: 14px;
    transition-duration: .3s;
  }
  body footer div.share a.share-button:nth-child(3):hover {
    background-color: #2f9bcd;
    color: white;
    transition-duration: .3s;
  }
  body footer div.share a.share-button:nth-child(4) {
    display: block;
    border: 1px solid #8ec09d;
    color: #8ec09d;
    padding: 10px;
    font-size: 14px;
    transition-duration: .3s;
  }
  body footer div.share a.share-button:nth-child(4):hover {
    background-color: #8ec09d;
    color: white;
    transition-duration: .3s;
  }
  body footer div.share a {
    margin-right: 0px;
  }
  body footer div.footer-nav {
    background-color: #939899;
    padding: 30px 0;
  }
  body footer div.footer-nav ul {
    display: flex;
    justify-content: center;
    color: white;
  }
  body footer div.footer-nav ul li {
    margin-left: 30px;
  }
  body footer div.footer-nav ul li:first-child {
    margin-left: 0;
  }
  body footer div.footer-nav ul li a {
    transition-duration: .3s;
  }
  body footer div.footer-nav ul li a:hover {
    opacity: 0.6;
    transition-duration: .3s;
  }
  body footer div.copyright {
    background-color: #656c6e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }
  body footer div.copyright div {
    width: 30%;
    transition-duration: .3s;
  }
  body footer div.copyright div:hover {
    opacity: 0.6;
    transition-duration: .3s;
  }
  body footer div.copyright div img {
    width: 20%;
  }
  body footer div.copyright p {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
