@charset "utf-8";
html {
  box-sizing: border-box;
  font-size: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
@mixin title-button {
  display: flex;
  justify-content: space-around;
  h2 {
    background-image: url(../img/sectionTitle-underLine@2x.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 60px;
    padding-bottom: 10px;
    letter-spacing: 0.2em;
    font-weight: normal;
  }
  p.more {
    border: 1px solid black;
    padding: 10px 60px;
    transition-duration: .3s;
    position:relative;
    letter-spacing: 0.1em;
    &:after {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-top: 1px solid black;
      border-right: 1px solid black;
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -5.1px;
    } //&:after
    &:hover {
      color: white;
      background-color: black;
      transition-duration: .3s;
      background-image: none;
      &:after {
        border-top: 1px solid white;
        border-right: 1px solid white;
      } //&:after
    } //&:hover
  } //p.more
} //@mixin title-button

/* PC and 900px*/
@mixin title-button {
  display: flex;
  justify-content: space-around;
  h2 {
    background-image: url(../img/sectionTitle-underLine@2x.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 60px;
    padding-bottom: 10px;
    letter-spacing: 0.2em;
    font-weight: normal;
  }
  p.more {
    border: 1px solid black;
    padding: 10px 60px;
    transition-duration: .3s;
    position:relative;
    letter-spacing: 0.1em;
    &:after {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-top: 1px solid black;
      border-right: 1px solid black;
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -5.1px;
    } //&:after
    &:hover {
      color: white;
      background-color: black;
      transition-duration: .3s;
      background-image: none;
      &:after {
        border-top: 1px solid white;
        border-right: 1px solid white;
      } //&:after
    } //&:hover
  } //p.more
} //@mixin title-button

/* sp上のタイトル */
@mixin title-button-sp {
  display: block;
  text-align: center;
  h2 {
    background-image: url(../img/sectionTitle-underLine@2x.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 60px;
    padding-bottom: 10px;
    letter-spacing: 0.2em;
    font-weight: normal;
  }
  p.more {
    display: none;
  } //p.more
} //@mixin title-button

/* sp 下のmoreボタン*/
@mixin title-button-more-sp {
  display: block;
  width: 160px;
  margin: 0 auto;
  p.more-sp {
    margin-top: 100px;
    border: 1px solid black;
    padding: 10px 30px;
    transition-duration: .3s;
    position:relative;
    letter-spacing: 0.1em;
    text-align: center;
    &:after {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-top: 1px solid black;
      border-right: 1px solid black;
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -5.1px;
    } //&:after
    &:hover {
      color: white;
      background-color: black;
      transition-duration: .3s;
      background-image: none;
      &:after {
        border-top: 1px solid white;
        border-right: 1px solid white;
      } //&:after
    } //&:hover
  } //p.more-sp
} //@mixin ttitle-button-sp


@mixin share-button ($color:black) {
  border: 1px solid $color;
  color: $color;
  padding: 10px;
  font-size: 14px;
  transition-duration: .3s;
  &:hover {
    background-color: $color;
    color: white;
    transition-duration: .3s;
  }
}

body {
  header {
    background-color: #F6F6F6;
    div.header-wrap {
      position:relative;
      overflow: hidden;
      &:after {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border-top: 2px solid white;
        border-right: 2px solid white;
        transform: rotate(135deg);
        position: absolute;
        right: 49%;
        bottom: 10%;
        z-index: 300;
      } //&:after
      div#slide {
        box-sizing: content-box;
        background-color: #F6F6F6;
        width: 100%;
        height: 600px;
        overflow: hidden;
        position: relative;
        border-bottom-left-radius: 50% 9%;
        border-bottom-right-radius: 50% 9%;
        margin-left: -100px;
        margin-right: -100px;
        padding-left: 100px;
        padding-right: 100px;
        img {
          width: 100%;
          height: 600px;
          position: absolute;
          object-fit: cover;
          left: 0;
          border-bottom-left-radius: 50% 9%;
          border-bottom-right-radius: 50% 9%;
        } //img
      } //div#slide
      div.header-top {
        display: flex;
        align-items: center; //縦方向横並び
        padding: 30px 5% 0 5%;
        position: absolute;
        top:0;
        justify-content: space-between;
        width: 100%;
        div.logo {
          width: 25%;
          transition-duration: .3s;
          &:hover {
            opacity: 0.6;
            transition-duration: .3s;
          } //&:hover
          img.sp {
            display: none;
          } //img.sp

        } //div.logo
        nav {
          ul {
            display: flex;
            li {
              margin-left: 40px;
              color: white;
            } //li
            a {
              position: relative;
              &:after {
                position: absolute;
                bottom: -6px;
                left: 0;
                content: "";
                width: 100%;
                height: 2px;
                background: white;
                opacity: 0;
                visibility: hidden;
                transition-duration: .3s;
              } //&:after
              &:hover::after {
                opacity: 1;
                visibility: visible;
              } //&:hover::after
              &:visited {
                color: inherit;
              } //&:visited
            } //a
          } //ul
        } //nav
      } //div.header-top
      div.sp-menu {
        display: none;
      } //div.sp-menu

    } //div.header-wrap
  } //header
  main {
    div.concept {
      background-color: #f6f6f6;
      text-align: center;
      padding: 120px 0;
      width: 100%;
      p {
        width: 35%;
        margin: 0 auto;
        text-align: left;
        letter-spacing: 0.2em;
        &:nth-child(1) {
          text-align: center;
          font-size: 40px;
          font-weight: 100;
          margin-bottom: 60px;
        } //&:nth-child(1)
        &:not(:first-child) {
          margin-top: 30px;
          font-size: 18px;
          line-height: 1.7;
        } //&:not(:first-child)
        &.pas-pol {
          font-size: 30px;
          text-align: center;
          ruby {
            rt {
              font-size: 12px;
            } //rt
          } //ruby
        } //&.pas-pol
      } //p
    } //div.concept
    div#product {
      div.product-wrap {
        padding: 100px 0;
        div.title-button {
          @include title-button;
        } //div.title-button
        div.product-item-wrap {
          width: 60%;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          div.product-item {
            width: 30%;
            margin-top: 70px;
            position: relative;
            transition-duration: .3s;
            &:hover {
              opacity: 0.7;
              transition-duration: .3s;
            }
            p {
              font-size: 19px;
              font-weight: bold;
              letter-spacing: 0.1em;
              width: 85%;
              margin: 0 auto;
            } //p
            a {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            } //a
          } //div.product-item
        } //div.product-item-wrap
        div.title-button-more-sp {
          display: none;
        } //div.title-button-more-sp
      } //div.product-wrap
    } //div#product
    div#news {
      background-color: #f6f6f6;
      padding: 100px 0;
      div.title-button {
        @include title-button;
      } //div.title-button
      div.news-item-wrap {
        width: 60%;
        margin: 0 auto;
        div.news-item {
          width: 100%;
          display: flex;
          margin-top: 70px;
          position: relative;
          transition-duration: .3s;
          &:hover {
            opacity: 0.7;
            transition-duration: .3s;
          }
          div.pic {
            width: 40%;
            img {
              width: 100%;
            } //img
          } //div.pic
          div.sentence {
            width: 60%;
            margin-left: 35px;
            line-height: 1.7;
            p:nth-child(1) {
              font-size: 18px;
              font-weight: bold;
              letter-spacing: 0.1em;
              margin-bottom: 5px;
            } //p:nth-child(1)
            p:nth-child(2) {
              font-size: 12px;
              margin-bottom: 15px;
              color: gray;
            } //p:nth-child(2)
            p:nth-child(3) {
              font-size: 13px;
              color: gray;
            } //p:nth-child(3)
          } //div.sentence
          a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          } //a
        } //div.news-item
        div.title-button-more-sp {
          display: none;
        } //div.title-button-more-sp
      } //div.news-item-wrap
    } //div#news
  } //main

  footer {
    position: relative;
    div#to-top {
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      position: relative;
      position: absolute;
      right: 50%;
      top: -30px;
      transition-duration: .3s;
      &:after {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        border-top: 2px solid gray;
        border-right: 2px solid gray;
        transform: rotate(315deg);
        position: absolute;
        top: 30%;
        right: 18.5px;
      } //&:after
      &:hover {
        transform: translate(0, -5px);
        transition-duration: .3s;
      } //&:hover
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      } //a
    } //div#to-top
    div.share {
      display: flex;
      justify-content: center;
      padding: 40px 0;
      a.share-button:nth-child(1) {
        @include share-button(#4871a9);
      } //p.share-button:nth-child(1)
      a.share-button:nth-child(2) {
        @include share-button(#70bdd3);
      } //p.share-button:nth-child(2)
      a.share-button:nth-child(3) {
        @include share-button(#2f9bcd);
      } //p.share-button:nth-child(3)
      a.share-button:nth-child(4) {
        display: none;
      } //p.share-button:nth-child(4)
      a {
        margin-right: 20px;
        &:nth-child(3) {
          margin-right: 0;
        } //&:nth-child(3)
      } //a
    } //div.share
    div.footer-nav{
      background-color: #939899;
      padding: 30px 0;
      ul {
        display: flex;
        justify-content: center;
        color: white;
        li {
          margin-left: 30px;
          &:first-child {
            margin-left: 0;
          } //&:first-child
          a {
            transition-duration: .3s;
            &:hover {
              opacity: 0.6;
              transition-duration: .3s;
            } //&:hover
          } //a
        } //li
      } //ul
    } //div.footer-nav
    div.copyright {
      background-color: #656c6e;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 0;
      div {
        width: 30%;
        transition-duration: .3s;
        &:hover {
          opacity: 0.6;
          transition-duration: .3s;
        } //&:hover
        img {
          width: 20%;
        } //img
      } //div
      p {
        font-size: 10px;
      } //p
    } //div.copyright
  } //footer
} //body

/* レスポンシブ ================
============================== */
@media screen and (max-width: 900px) {
  body {
    // overflow: hidden;
    // width: 100%;

    header {
      background-color: #F6F6F6;
      div.header-wrap {
        position:relative;
        overflow: hidden;
        width: 100%;
        &:after {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          border-top: 2px solid white;
          border-right: 2px solid white;
          transform: rotate(135deg);
          position: absolute;
          right: 49%;
          bottom: 10%;
          z-index: 300;
        } //&:after
        div#slide {
          box-sizing: content-box;
          background-color: #F6F6F6;
          width: 100%;
          height: 600px;
          position: relative;
          // border-bottom-left-radius: 50% 9%;
          // border-bottom-right-radius: 50% 9%;
          // margin-left: -100px;
          // margin-right: -100px;
          // padding-left: 100px;
          // padding-right: 100px;
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 0px;
          padding-right: 0px;
          overflow: hidden;
          img {
            max-width: 100%;
            height: 600px;
            position: absolute;
            object-fit: cover;
            // left: 0;
            // border-bottom-left-radius: 50% 9%;
            // border-bottom-right-radius: 50% 9%;
            margin-left: -100px;
            margin-right: -100px;
            padding-left: 100px;
            padding-right: 100px;
            overflow: hidden;
          } //img
        } //div#slide
        div.header-top {
          display: block;
          padding: 0;
          position: absolute;
          top: 35%;
          width: 100%;
          margin: 0 auto;
          div.logo {
            width: 190px;
            margin: 0 auto;
            &:hover {
              opacity: 1;
            } //&:hover
            img.pc {
              display: none;
            } //img.pc
            img.sp {
              display: block;
            } //img.sp
          } //div.logo
          nav {
            display: none;
          } //nav
        } //div.header-top
        div.sp-menu {
          display: block;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 14px;
          div.dropdown {
            li {
              padding: 15px 0 15px 8%;
              border-top: 1px solid white;
              color: white;
              background-color: rgba(0, 0, 0, 0.5);
              a {
                display: block;
              } //a
            } //li
          } //div.dropdown
        } //div.sp-menu
        div.triger {
          background-color: white;
          background-image: url(../img/navigation-toggle@2x.png);
          background-position: 95% 50%;
          background-size: 20px;
          height: 50px;
          color: gray;
          div.btn-more {
            padding-left: 8%;
            line-height: 50px;
          } //div.btn-more
        } //div.triger
      } //div.header-wrap
    } //header

    main {
      div.concept {
        background-color: #f6f6f6;
        text-align: left;
        padding: 120px 6%;
        width: 100%;
        p {
          width: 100%;
          text-align: left;
          letter-spacing: 0.2em;
          &:nth-child(1) {
            text-align: left;
            font-size: 40px;
            font-weight: 100;
            margin-bottom: 60px;
          } //&:nth-child(1)
          &:not(:first-child) {
            margin-top: 30px;
            font-size: 18px;
            line-height: 1.7;
          } //&:not(:first-child)
          &.pas-pol {
            font-size: 30px;
            text-align: left;
            ruby {
              rt {
                font-size: 12px;
              } //rt
            } //ruby
          } //&.pas-pol
        } //p
      } //div.concept
      div#product {
        div.product-wrap {
          padding: 100px 0;
          div.title-button {
            @include title-button;
          } //div.title-button
          div.product-item-wrap {
            width: 80%;
            margin: 0 auto;
            display: block;
            // flex-wrap: wrap;
            // justify-content: space-between;
            div.product-item {
              width: 100%;
              margin-top: 50px;
              position: relative;
              transition-duration: .3s;
              display: flex;
              &:hover {
                opacity: 0.7;
                transition-duration: .3s;
              } //&:hover
              img {
                width: 35%;
              } //img
              p {
                font-size: 19px;
                font-weight: bold;
                letter-spacing: 0.1em;
                // // width: 85%;
                // margin: 0 auto;
                margin-left: 30px;
              } //p
              a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              } //a
            } //div.product-item
          } //div.product-item-wrap
          div.title-button-more-sp {
            display: none;
          } //div.title-button-more-sp
        } //div.product-wrap
      } //div#product
      div#news {
        background-color: #f6f6f6;
        padding: 100px 0;
        div.title-button {
          @include title-button;
        } //div.title-button
        div.news-item-wrap {
          width: 60%;
          margin: 0 auto;
          div.news-item {
            width: 100%;
            display: flex;
            margin-top: 70px;
            position: relative;
            transition-duration: .3s;
            &:hover {
              opacity: 0.7;
              transition-duration: .3s;
            } //&:hover
            div.pic {
              width: 40%;
              img {
                width: 100%;
              } //img
            } //div.pic
            div.sentence {
              width: 60%;
              margin-left: 35px;
              line-height: 1.7;
              p:nth-child(1) {
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0.1em;
                margin-bottom: 5px;
              } //p:nth-child(1)
              p:nth-child(2) {
                font-size: 12px;
                margin-bottom: 15px;
                color: gray;
              } //p:nth-child(2)
              p:nth-child(3) {
                font-size: 13px;
                color: gray;
              } //p:nth-child(3)
            } //div.sentence
            div.title-button-more-sp {
              display: none;
            } //div.title-button-more-sp
            a {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            } //a
          } //div.news-item
        } //div.news-item-wrap
      } //div#news
    } //main

    footer {
      position: relative;
      div#to-top {
        content: "";
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        position: relative;
        position: absolute;
        right: 50%;
        top: -30px;
        transition-duration: .3s;
        &:after {
          content: "";
          display: block;
          width: 12px;
          height: 12px;
          border-top: 2px solid gray;
          border-right: 2px solid gray;
          transform: rotate(315deg);
          position: absolute;
          top: 30%;
          right: 18.5px;
        } //&:after
        &:hover {
          transform: translate(0, -5px);
          transition-duration: .3s;
        } //&:hover
        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        } //a
      } //div#to-top
      div.share {
        display: flex;
        justify-content: center;
        padding: 40px 0;
        a.share-button:nth-child(1) {
          @include share-button(#4871a9);
        } //p.share-button:nth-child(1)
        a.share-button:nth-child(2) {
          @include share-button(#70bdd3);
        } //p.share-button:nth-child(2)
        a.share-button:nth-child(3) {
          @include share-button(#2f9bcd);
        } //p.share-button:nth-child(3)
        a.share-button:nth-child(4) {
          display: none;
        } //p.share-button:nth-child(4)
        a {
          margin-right: 20px;
          &:nth-child(3) {
            margin-right: 0;
          } //&:nth-child(3)
        } //a
      } //div.share
      div.footer-nav{
        background-color: #939899;
        padding: 30px 0;
        ul {
          display: flex;
          justify-content: center;
          color: white;
          li {
            margin-left: 30px;
            &:first-child {
              margin-left: 0;
            } //&:first-child
            a {
              transition-duration: .3s;
              &:hover {
                opacity: 0.6;
                transition-duration: .3s;
              } //&:hover
            } //a
          } //li
        } //ul
      } //div.footer-nav
      div.copyright {
        background-color: #656c6e;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        div {
          width: 30%;
          transition-duration: .3s;
          &:hover {
            opacity: 0.6;
            transition-duration: .3s;
          } //&:hover
          img {
            width: 20%;
          } //img
        } //div
        p {
          font-size: 10px;
        } //p
      } //div.copyright
    } //footer

  } //body
} //@media

@media screen and (max-width: 500px) {
  body {
    // overflow: hidden;
    // width: 100%;
    header {
      background-color: #F6F6F6;
      div.header-wrap {
        position:relative;
        overflow: hidden;
        width: 100%;
        &:after {
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          border-top: 2px solid white;
          border-right: 2px solid white;
          transform: rotate(135deg);
          position: absolute;
          right: 49%;
          bottom: 10%;
          z-index: 300;
        } //&:after
        div#slide {
          box-sizing: content-box;
          background-color: #F6F6F6;
          width: 100%;
          height: 600px;
          position: relative;
          // border-bottom-left-radius: 50% 9%;
          // border-bottom-right-radius: 50% 9%;
          // margin-left: -100px;
          // margin-right: -100px;
          // padding-left: 100px;
          // padding-right: 100px;
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 0px;
          padding-right: 0px;
          overflow: hidden;
          img {
            max-width: 100%;
            height: 600px;
            position: absolute;
            object-fit: cover;
            // left: 0;
            // border-bottom-left-radius: 50% 9%;
            // border-bottom-right-radius: 50% 9%;
            margin-left: -100px;
            margin-right: -100px;
            padding-left: 100px;
            padding-right: 100px;
            overflow: hidden;
          } //img
        } //div#slide
        div.header-top {
          display: block;
          padding: 0;
          position: absolute;
          top: 35%;
          width: 100%;
          margin: 0 auto;
          div.logo {
            width: 190px;
            margin: 0 auto;
            &:hover {
              opacity: 1;
            } //&:hover
            img.pc {
              display: none;
            } //img.pc
            img.sp {
              display: block;
              // &:hover {
              //   opacity: 1;
              // } //&:hover
            } //img.sp
          } //div.logo
          nav {
            display: none;
          } //nav
        } //div.header-top
        div.sp-menu {
          display: block;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 14px;
          div.dropdown {
            li {
              padding: 15px 0 15px 10%;
              border-top: 1px solid white;
              color: white;
              background-color: rgba(0, 0, 0, 0.5);
              a {
                display: block;
              } //a
            } //li
          } //div.dropdown
        } //div.sp-menu
        div.triger {
          background-color: white;
          background-image: url(../img/navigation-toggle@2x.png);
          background-position: 95% 50%;
          background-size: 20px;
          height: 50px;
          color: gray;
          div.btn-more {
            padding-left: 10%;
            line-height: 50px;
          } //div.btn-more
        } //div.triger
      } //div.header-wrap
    } //header

    main {
      div.concept {
        background-color: #f6f6f6;
        text-align: left;
        padding: 100px 4%;
        width: 100%;
        p {
          width: 100%;
          text-align: left;
          letter-spacing: 0.2em;
          &:nth-child(1) {
            text-align: left;
            font-size: 30px;
            margin-bottom: 60px;
          } //&:nth-child(1)
          &:not(:first-child) {
            margin-top: 30px;
            font-size: 14px;
            line-height: 1.7;
          } //&:not(:first-child)
          &.pas-pol {
            font-size: 20px;
            text-align: left;
            ruby {
              rt {
                font-size: 12px;
              } //rt
            } //ruby
          } //&.pas-pol
        } //p
      } //div.concept

      div#product {
        div.product-wrap {
          padding: 100px 0;
          div.title-button {
            @include title-button-sp;
          } //div.title-button
          div.product-item-wrap {
            width: 80%;
            margin: 0 auto;
            display: block;
            // flex-wrap: wrap;
            // justify-content: space-between;
            div.product-item {
              width: 100%;
              margin-top: 50px;
              position: relative;
              transition-duration: .3s;
              display: block;
              &:hover {
                opacity: 0.7;
                transition-duration: .3s;
              } //&:hover
              img {
                width: 100%;
              } //img
              p {
                font-size: 19px;
                font-weight: bold;
                letter-spacing: 0.1em;
                // // width: 85%;
                // margin: 0 auto;
                margin-left: 30px;
              } //p
              a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              } //a
            } //div.product-item
          } //div.product-item-wrap
          div.title-button-sp {
            @include title-button-sp;
          } //a p.more-sp
          div.title-button-more-sp {
            @include title-button-more-sp;
          } //div.title-button-more-sp
        } //div.product-wrap
      } //div#product

      div#news {
        background-color: #f6f6f6;
        padding: 100px 0;
        div.title-button {
          @include title-button-sp;
        } //div.title-button
        div.news-item-wrap {
          width: 85%;
          margin: 0 auto;
          div.news-item {
            width: 100%;
            display: block;
            margin-top: 70px;
            position: relative;
            transition-duration: .3s;
            &:hover {
              opacity: 0.7;
              transition-duration: .3s;
            } //&:hover
            div.pic {
              width: 100%;
              img {
                width: 100%;
              } //img
            } //div.pic
            div.sentence {
              width: 100%;
              margin-left: 0px;
              line-height: 1.7;
              p:nth-child(1) {
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0.1em;
                margin-bottom: 5px;
              } //p:nth-child(1)
              p:nth-child(2) {
                font-size: 12px;
                margin-bottom: 15px;
                color: gray;
              } //p:nth-child(2)
              p:nth-child(3) {
                display: none;
              } //p:nth-child(3)
            } //div.sentence
            a {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            } //a
          } //div.news-item
          div.title-button-more-sp {
            @include title-button-more-sp;
          } //div.title-button-more-sp
        } //div.news-item-wrap
      } //div#news
    } //main

    footer {
      position: relative;
      div#to-top {
        content: "";
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        position: relative;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        transition-duration: .3s;
        &:after {
          content: "";
          display: block;
          width: 12px;
          height: 12px;
          border-top: 2px solid gray;
          border-right: 2px solid gray;
          transform: rotate(315deg);
          position: absolute;
          top: 30%;
          right: 18.5px;
        } //&:after
        &:hover {
          transform: translate(0, -5px);
          transition-duration: .3s;
        } //&:hover
        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        } //a
      } //div#to-top
      div.share {
        display: flex;
        justify-content: center;
        padding: 40px 30px;
        flex-wrap: wrap;
        justify-content: space-around;
        a.share-button:nth-child(1) {
          @include share-button(#4871a9);
          width: 45%;
          margin-bottom: 10px;
          // margin-right: 10px;
          font-size: 12px;
          text-align: center;
        } //p.share-button:nth-child(1)
        a.share-button:nth-child(2) {
          @include share-button(#70bdd3);
          width: 45%;
          margin-bottom: 10px;
          font-size: 12px;
          text-align: center;
        } //p.share-button:nth-child(2)
        a.share-button:nth-child(3) {
          @include share-button(#2f9bcd);
          width: 45%;
          // margin-right: 10px;
          font-size: 12px;
          text-align: center;
        } //p.share-button:nth-child(3)
        a.share-button:nth-child(4) {
          display: block;
          @include share-button(#8ec09d);
          width: 45%;
          font-size: 12px;
          text-align: center;
        } //p.share-button:nth-child(4)
        a {
          margin-right: 0px;
        } //a
      } //div.share
      div.footer-nav{
        background-color: #939899;
        padding:0;
        ul {
          display: block;
          color: white;
          li {
            margin-left: 0;
            text-align: center;
            border-top: 1px solid white;
            padding: 15px 0;
            // &:first-child {
            //   margin-left: 0;
            // } //&:first-child
            a {
              transition-duration: .3s;
              &:hover {
                opacity: 0.6;
                transition-duration: .3s;
              } //&:hover
            } //a
          } //li
        } //ul
      } //div.footer-nav
      div.copyright {
        background-color: #656c6e;
        color: white;
        display: block;
        // justify-content: center;
        // align-items: center;
        padding: 40px 0;
        text-align: center;

        div {
          width: 100%;
          transition-duration: .3s;
          // text-align: center;
          margin-bottom: 20px;
          &:hover {
            opacity: 0.6;
            transition-duration: .3s;
          } //&:hover
          img {
            width:25%;
          } //img
        } //div
        p {
          width: 80%;
          font-size: 10px;
          margin: 0 auto;
        } //p
      } //div.copyright
    } //footer

  } //body
} //@media and screen (max-width: 500px)
